
/** colors **/
// general
$bg_color: #f3f4fa;
$grakn_purple_color: #796de3;
$body-text-color: #8c8d92;
$table-text-color: #6a6a6a;

// topbar
$topbar_width: 70px;

// sidebar
$sidebar_categoryTitle_color: #4a4c52;

// bootstrap
$grid-columns: 24;

