
/** colors **/
// general
$bg_color: #f3f4fa;
$grakn_purple_color: #796de3;
$body-text-color: #647380;
$table-text-color: #647380;
$link-color: #887aff;

//banner
$banner_height: 65px;

// topbar
$topbar_height: 70px;

// searchbar
$searchbar_height: 36px;

// sidebar
$sidebar_categoryTitle_color: #647380;
$sidebar_width: 200px;
$sidebar_item_distance_to_content: 20px;

// bootstrap
$grid-columns: 24;
