*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  font-size: var(--body-font-size);
  scroll-behavior: smooth;
}

body {
  background: var(--body-background);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
  font-weight: var(--doc-font-weight);
  letter-spacing: 0.016em;
  margin: 0;
  tab-size: 4;
  word-wrap: anywhere; /* aka overflow-wrap; used when hyphens are disabled or aren't sufficient */
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
pre {
  margin: 0;
  padding: 0;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

code,
kbd,
pre {
  font-family: var(--monospace-font-family);
}

b,
dt,
strong,
th {
  font-weight: var(--font-weight-semi-bold);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

em em {
  font-style: normal;
}

strong strong {
  font-weight: normal;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

summary {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

table {
  border-collapse: collapse;
  word-wrap: normal; /* table widths aren't computed as expected when word-wrap is enabled */
}

[hidden] {
  display: none !important;
}

.flex {
  flex: 1;
}
