.body {
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height));
  padding: var(--main-padding);
  max-width: calc(1440 / var(--rem-base) * 1rem);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
