.body {
  margin: 0 auto;
  min-height: calc(100vh - var(--header-height));
  padding: var(--body-padding);
  max-width: var(--body-width);
  display: flex;
  align-items: flex-start;
  gap: var(--body-gap);
}
