@use "colors";
@use "media";
@use "media_docs";
@use "sass:math";

.body {
    --font-size-h1: 41px;
    --line-height-h1: #{calc(49px / 41px)};
    --font-size-h2: 33px;
    --line-height-h2: #{calc(41px / 33px)};
    --font-size-h5: 19px;
    --line-height-h5: #{calc(27px / 19px)};
    --font-size-h6: 17px;
    --line-height-h6: #{calc(25px / 17px)};

    /* base */
    --panel-background: var(--color-deep-purple);
    --panel-border-color: var(--color-light-purple);
    --body-width: 1440px;
    --body-padding: 40px;
    --body-padding-sides: 20px;
    --body-gap: 32px;
    --main-offset: calc(var(--topbar-height) + var(--body-padding));
    /* nav */
    --nav-width: 244px;
    /* admonitions */
    --important-color: var(--color-secondary-yellow);
    --important-background: #{rgba(colors.$secondary-yellow, 0.1)};
    --note-color: var(--color-secondary-blue);
    --note-background: #{rgba(colors.$secondary-blue, 0.1)};
    --tip-color: var(--color-green);
    --tip-background: #{rgba(colors.$green, 0.1)};
    --warning-color: var(--color-red);
    --warning-background: #{rgba(colors.$red, 0.1)};
    /* doc */
    --doc-font-size: var(--font-size-p2);
    --doc-line-height: var(--line-height-p2);
    --section-divider-color: var(--panel-border-color);
    --link-font-color: var(--color-green);
    --link_hover-font-color: var(--color-green);
    --link_unresolved-font-color: var(--important-color);
    --abstract-background: var(--color-black-purple);
    --abstract-font-color: var(--color-dark-white);
    --abstract-border-color: var(--panel-border-color);
    --caption-font-color: var(--color-secondary-light-grey);
    --caption-font-style: italic;
    --caption-font-weight: var(--font-weight-semi-bold);
    --example-background: var(--panel-background);
    --example-border-color: var(--panel-border-color);
    --kbd-background: var(--panel-background);
    --kbd-border-color: var(--color-dark-white);
    --pre-background: var(--color-black-purple);
    --quote-background: rgb(48, 45, 67);
    --quote-border-color: var(--color-secondary-light-grey);
    --quote-font-color: var(--color-dark-white);
    --quote-attribution-font-color: var(--default-text-color);
    --table-border-color: var(--panel-border-color);
    --table-header-background: var(--color-black-purple);
    --table-body-background: var(--color-deep-purple);
    --table-footer-background: var(--panel-background);
    --doc-max-width: calc(var(--body-width) - var(--nav-width) - var(--toc-width) - 2*var(--body-padding-sides));
    /* toc */
    --toc-width: 236px;
    --toc-border-color: var(--color-black-purple);
    --toc-line-height: 1.2;
    /* search */
    --search-result-background: #{rgba(colors.$deep-purple, 0.5)};
    --search-result-hover-color: #{rgba(colors.$light-purple, 0.5)};
    --search-shadow-color: rgba(0, 0, 0, 0.5);
    --search-height: 50px;
    --search-highlight-color: rgba(246, 201, 76, 0.25);

    @media (max-width: media.$max-width-tablet) {
        --body-padding: var(--section-page-margin);
        --body-padding-sides: var(--section-page-margin);
        --body-gap: 16px;

        --search-result-width: calc(100vw - var(--body-padding) * 2 - var(--body-gap) - var(--nav-width));
    }

    @media (max-width: media.$max-width-mobile) {
        --font-size-h1: 31px;
        --line-height-h1: #{calc(39px / 31px)};

        --font-size-h2: 25px;
        --line-height-h2: #{calc(33px / 25px)};

        --font-size-h5: 17px;
        --line-height-h5: #{calc(25px / 17px)};

        --font-size-h6: 15px;
        --line-height-h6: #{calc(23px / 15px)};

        --search-result-width: calc(100vw - var(--body-padding) * 2);
    }

    margin: var(--topbar-height) auto 0;
    min-height: calc(100vh - var(--topbar-height));
    padding: var(--body-padding) var(--body-padding-sides) var(--body-padding);
    max-width: var(--body-width);
    display: flex;
    align-items: flex-start;
    gap: var(--body-gap);

    @media (max-width: media.$max-width-mobile) {
        flex-direction: column;
        align-items: stretch;
    }

    .td-topbar.td-topbar-has-banner + & {
        margin-top: calc(var(--topbar-height) + var(--banner-height));
        min-height: calc(100vh - var(--topbar-height) - var(--banner-height));
        --main-offset: calc(var(--topbar-height) + var(--banner-height) + var(--body-padding));

        * {
            scroll-margin-top: var(--banner-height);
        }
    }

    p {
        font-size: inherit;
        line-height: inherit;
    }

    button {
        cursor: pointer;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;

        &::-moz-focus-inner {
            border: none;
            padding: 0;
        }
    }

    table {
        border-collapse: collapse;
        word-wrap: normal; /* table widths aren't computed as expected when word-wrap is enabled */
    }
}
