@use "colors";
@use "doc_vars";
@use "media";
@use "media_docs";
@use "sass:math";
@use "shapes";

html, body {
    scroll-padding-top: calc(var(--toolbar-height) + 1rem);
}

body.-toc {
    h2 {
        text-transform: uppercase;
        font-size: 19px;
        font-weight: 400;
        color: var(--color-green);
        font-family: 'Ubuntu Mono', monospace;

        @media (max-width: media.$max-width-mobile) {
            font-size: 17px;
        }
    }
}

body {
    --font-size-h1: 38px;
    --line-height-h1: #{calc(48px / 38px)};
    --font-size-h2: 24px;
    --line-height-h2: #{calc(34px / 24px)};
    --font-size-h3: 20px;
    --line-height-h3: #{calc(30px / 20px)};
    --font-size-h5: 18px;
    --line-height-h5: #{calc(28px / 18px)};
    /* base */
    --panel-background: var(--color-deep-purple);
    --panel-border-color: var(--color-light-purple);
    --main-offset: 171px;
    /* admonitions */
    --important-color: var(--color-secondary-yellow);
    --important-background: #{rgba(colors.$secondary-yellow, 0.1)};
    --note-color: var(--color-secondary-blue);
    --note-background: #{rgba(colors.$secondary-blue, 0.1)};
    --tip-color: var(--color-green);
    --tip-background: #{rgba(colors.$green, 0.1)};
    --warning-color: var(--color-red);
    --warning-background: #{rgba(colors.$red, 0.1)};
    /* doc */
    --doc-font-size: var(--font-size-p2);
    --doc-line-height: var(--line-height-p2);
    --section-divider-color: var(--panel-border-color);
    --link-font-color: var(--color-green);
    --link_hover-font-color: var(--color-green);
    --link_unresolved-font-color: var(--important-color);
    --abstract-background: var(--color-black-purple);
    --abstract-font-color: var(--color-dark-white);
    --abstract-border-color: var(--panel-border-color);
    --caption-font-color: var(--color-secondary-light-grey);
    --caption-font-style: italic;
    --caption-font-weight: var(--font-weight-regular);
    --example-background: var(--panel-background);
    --example-border-color: var(--panel-border-color);
    --kbd-background: var(--panel-background);
    --kbd-border-color: var(--color-dark-white);
    --pre-background: var(--color-black-purple);
    --quote-background: rgb(48, 45, 67);
    --quote-border-color: var(--color-secondary-light-grey);
    --quote-font-color: var(--color-dark-white);
    --quote-attribution-font-color: var(--default-text-color);
    --table-border-color: var(--panel-border-color);
    --table-header-background: var(--color-black-purple);
    --table-body-background: var(--color-deep-purple);
    --table-footer-background: var(--panel-background);
    --doc-max-width: calc(var(--body-width) - var(--nav-width) - var(--toc-width) - 2*var(--body-padding-sides));
    /* toc */
    --toc-width: 236px;
    --toc-line-height: 1.25;
    /* ai ✨ */
    --ask-ai-width: 150px;

    @media (max-width: media.$max-width-tablet) {
        --body-padding-bottom: var(--section-page-margin);
        --body-padding-sides: var(--section-page-margin);
        --body-gap: 16px;

        --search-result-width: calc(100vw - 64px - var(--body-gap) - var(--nav-width));
    }

    @media (max-width: media.$max-width-mobile) {
        --font-size-h1: 30px;
        --line-height-h1: #{calc(40px / 30px)};
        --font-size-h2: 24px;
        --line-height-h2: #{calc(34px / 24px)};
        --font-size-h4: 18px;
        --line-height-h4: #{calc(28px / 18px)};
        --font-size-h5: 18px;
        --line-height-h5: #{calc(28px / 18px)};
        --font-size-h6: 14px;
        --line-height-h6: #{calc(24px / 14px)};
        --search-result-width: calc(100vw - 24px);
        --main-offset: 121px;
    }
}

.body {
    margin: 0 auto;
    min-height: calc(100vh - var(--topbar-height) - var(--banner-height) - var(--toolbar-height));
    padding: 0 var(--body-padding-sides) var(--body-padding-bottom);
    max-width: var(--body-width);

    .body-main {
        display: flex;
        align-items: flex-start;

        @media (min-width: media.$min-width-tablet) {
            gap: var(--body-gap);
        }

        @media (max-width: media.$max-width-mobile) {
            flex-direction: column;
            align-items: stretch;
        }
    }

    p {
        font-size: inherit;
        line-height: inherit;
    }

    button {
        cursor: pointer;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;

        &::-moz-focus-inner {
            border: none;
            padding: 0;
        }
    }

    table {
        border-collapse: collapse;
        word-wrap: normal; /* table widths aren't computed as expected when word-wrap is enabled */
    }
}

.td-topbar {
    border-bottom: 1px solid var(--content-border-color);

    nav {
        max-width: 1466px;
    }
}
