.doc {
  background: var(--doc-background);
  border: 1px solid var(--panel-border-color);
  border-radius: var(--border-radius);
  padding: 2rem;
  font-size: var(--doc-font-size);
  font-weight: var(--doc-font-weight);
  hyphens: auto;
  line-height: var(--doc-line-height);
}

.doc .sect1:not(:first-of-type) {
  margin-top: 2.5rem;
}

.doc .sect2:not(:first-of-type) {
  margin-top: 2rem;
}

.doc .sect3:not(:first-of-type),
.doc .sect4:not(:first-of-type),
.doc .sect5:not(:first-of-type),
.doc .sect6:not(:first-of-type) {
  margin-top: 1.5rem;
}

.doc h1,
.doc h2,
.doc h3,
.doc h4,
.doc h5,
.doc h6 {
  position: relative;
  margin-left: -1rem;
  padding-left: 1rem;
  margin-top: 1rem;
  color: var(--color-white);
  font-weight: var(--body-font-weight-bold);
}

.doc h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

.doc h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
}

.doc h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}

.doc h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}

.doc h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}

.doc h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

.doc h1 .anchor,
.doc h2 .anchor,
.doc h3 .anchor,
.doc h4 .anchor,
.doc h5 .anchor,
.doc h6 .anchor {
  position: absolute;
  visibility: hidden;
  left: 0;
  font-size: 0.8em;
  font-weight: normal;
  line-height: normal;
  padding-top: 0.05em;
}

.doc h1 .anchor::before,
.doc h2 .anchor::before,
.doc h3 .anchor::before,
.doc h4 .anchor::before,
.doc h5 .anchor::before,
.doc h6 .anchor::before {
  content: "\00a7";
}

.doc h1:hover .anchor,
.doc h2:hover .anchor,
.doc h3:hover .anchor,
.doc h4:hover .anchor,
.doc h5:hover .anchor,
.doc h6:hover .anchor {
  visibility: visible;
}

.doc > h1.page:first-child {
  margin-top: 0;
}

.doc dl {
  margin: 0;
}

.doc a {
  color: var(--link-font-color);
}

.doc a:hover {
  color: var(--link_hover-font-color);
}

.doc a.bare {
  hyphens: none;
}

.doc a.unresolved {
  color: var(--link_unresolved-font-color);
}

.doc i.fa {
  hyphens: none;
  font-style: normal;
}

.doc p code,
.doc thead code,
.doc .colist > table code {
  color: var(--code-font-color);
  background: var(--code-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--code-border-color);
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.doc table.tableblock p code,
.doc table.tableblock thead code,
.doc table.tableblock .colist > table code {
  background: var(--color-black-purple);
}

.doc code,
.doc pre {
  hyphens: none;
}

.doc pre {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: normal;
  margin: 0;
}

.doc blockquote {
  margin: 0;
}

.doc .paragraph.lead > p {
  font-size: 1.125rem;
}

.doc .right {
  float: right;
}

.doc .left {
  float: left;
}

.doc .float-gap.right {
  margin: 0 1rem 1rem 0;
}

.doc .float-gap.left {
  margin: 0 0 1rem 1rem;
}

.doc .float-group::after {
  content: "";
  display: table;
  clear: both;
}

.doc .stretch {
  width: 100%;
}

.doc .underline {
  text-decoration: underline;
}

.doc .line-through {
  text-decoration: line-through;
}

.doc .paragraph,
.doc .dlist,
.doc .hdlist,
.doc .olist,
.doc .ulist,
.doc .exampleblock,
.doc .imageblock,
.doc .listingblock,
.doc .literalblock,
.doc .tabs,
.doc .sidebarblock,
.doc .verseblock,
.doc .videoblock,
.doc .quoteblock,
.doc .partintro,
.doc details,
.doc hr {
  margin: 1rem 0 0;
}

.doc .tablecontainer,
.doc .tablecontainer + *,
.doc :not(.tablecontainer) > table.tableblock,
.doc :not(.tablecontainer) > table.tableblock + * {
  margin-top: 1.5rem;
}

.doc p.tableblock + p.tableblock {
  margin-top: 0.5rem;
}

.doc td.tableblock > .content > :first-child {
  margin-top: 0;
}

.doc table.tableblock > * > tr > * {
  padding: 0.75rem 1.25rem;
  color: var(--color-white);
  font-size: 1rem;
  line-height: 1.75;
}

.doc table.tableblock > * > tr > th {
  font-weight: var(--font-weight-semi-bold);
}

.doc table.tableblock > * > tr > td {
  font-weight: normal;
}

.doc table.tableblock {
  background: var(--table-body-background);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--table-border-color);
  overflow: hidden;
}

.doc table.tableblock > thead > tr > * {
  background: var(--table-header-background);
}

.doc table.tableblock > thead > tr > *:first-child {
  border-top-left-radius: var(--border-radius);
}

.doc table.tableblock > thead > tr > *:last-child {
  border-top-right-radius: var(--border-radius);
}

.doc table.tableblock > colgroup col:not(:first-of-type) {
  border-left: 1px solid var(--table-border-color);
}

.doc table.tableblock > * > tr {
  border-bottom: 1px solid var(--table-border-color);
}

.doc table.tableblock > tbody > tr:last-child {
  border-bottom-width: 0;
}

.doc table.tableblock > tfoot {
  background: var(--table-footer-background);
}

.doc .halign-left {
  text-align: left;
}

.doc .halign-right {
  text-align: right;
}

.doc .halign-center {
  text-align: center;
}

.doc .valign-top {
  vertical-align: top;
}

.doc .valign-bottom {
  vertical-align: bottom;
}

.doc .valign-middle {
  vertical-align: middle;
}

.doc .admonitionblock {
  margin: 1.5rem 0;
  padding: 1.25rem;
  border-radius: var(--border-radius);
  border: 1px solid;
  color: var(--color-white);
}

.doc .admonitionblock > table,
.doc .admonitionblock > table > tbody,
.doc .admonitionblock > table > tbody > tr,
.doc .admonitionblock > table > tbody > tr > td {
  display: block;
  padding: 0;
}

.doc .admonitionblock .icon {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.doc .admonitionblock .icon::after {
  font-weight: var(--font-weight-semi-bold);
}

.doc .admonitionblock.note {
  border-color: var(--note-color);
  background: var(--note-background);
}

.doc .admonitionblock.note .icon::after {
  content: "Note";
}

.doc .admonitionblock.important {
  border-color: var(--important-color);
  background: var(--important-background);
}

.doc .admonitionblock.important .icon::after {
  content: "Important";
}

.doc .admonitionblock.tip {
  border-color: var(--tip-color);
  background: var(--tip-background);
}

.doc .admonitionblock.tip .icon::after {
  content: "Advanced";
}

.doc .admonitionblock.warning {
  border-color: var(--warning-color);
  background: var(--warning-background);
}

.doc .admonitionblock.warning .icon::after {
  content: "Warning";
}

i.fa {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
}

.fa.icon-important {
  background: url('data:image/svg+xml,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#FFE49E"><path d="M9.99163 1.66675C5.39163 1.66675 1.66663 5.40008 1.66663 10.0001C1.66663 14.6001 5.39163 18.3334 9.99163 18.3334C14.6 18.3334 18.3333 14.6001 18.3333 10.0001C18.3333 5.40008 14.6 1.66675 9.99163 1.66675ZM13.525 15.0001L9.99996 12.8751L6.47496 15.0001L7.40829 10.9917L4.29996 8.30008L8.39996 7.95008L9.99996 4.16675L11.6 7.94175L15.7 8.29175L12.5916 10.9834L13.525 15.0001Z"/></svg>');
}

.fa.icon-note {
  background: url('data:image/svg+xml,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#7BA0FF"><path d="M9.99996 1.66675C5.39996 1.66675 1.66663 5.40008 1.66663 10.0001C1.66663 14.6001 5.39996 18.3334 9.99996 18.3334C14.6 18.3334 18.3333 14.6001 18.3333 10.0001C18.3333 5.40008 14.6 1.66675 9.99996 1.66675ZM9.99996 14.1667C9.54163 14.1667 9.16663 13.7917 9.16663 13.3334V10.0001C9.16663 9.54175 9.54163 9.16675 9.99996 9.16675C10.4583 9.16675 10.8333 9.54175 10.8333 10.0001V13.3334C10.8333 13.7917 10.4583 14.1667 9.99996 14.1667ZM10.8333 7.50008H9.16663V5.83341H10.8333V7.50008Z"/></svg>');
}

.fa.icon-tip {
  background: url('data:image/svg+xml,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#02DAC9"><path d="M7.49996 17.5001C7.49996 17.9167 7.83329 18.3334 8.33329 18.3334H11.6666C12.1666 18.3334 12.5 17.9167 12.5 17.5001V16.6667H7.49996V17.5001ZM9.99996 1.66675C6.74996 1.66675 4.16663 4.25008 4.16663 7.50008C4.16663 9.50008 5.16663 11.2501 6.66663 12.2501V14.1667C6.66663 14.5834 6.99996 15.0001 7.49996 15.0001H12.5C13 15.0001 13.3333 14.5834 13.3333 14.1667V12.2501C14.8333 11.1667 15.8333 9.41675 15.8333 7.50008C15.8333 4.25008 13.25 1.66675 9.99996 1.66675Z"/></svg>');
}

.fa.icon-warning {
  background: url('data:image/svg+xml,<svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#E96464"><path d="M3.72494 17.5001H16.2749C17.5583 17.5001 18.3583 16.1084 17.7166 15.0001L11.4416 4.1584C10.7999 3.05007 9.19994 3.05007 8.55827 4.1584L2.28327 15.0001C1.6416 16.1084 2.4416 17.5001 3.72494 17.5001ZM9.99994 11.6667C9.5416 11.6667 9.1666 11.2917 9.1666 10.8334V9.16673C9.1666 8.7084 9.5416 8.3334 9.99994 8.3334C10.4583 8.3334 10.8333 8.7084 10.8333 9.16673V10.8334C10.8333 11.2917 10.4583 11.6667 9.99994 11.6667ZM10.8333 15.0001H9.1666V13.3334H10.8333V15.0001Z"/></svg>');
}

.doc .imageblock,
.doc .videoblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.doc .imageblock.text-left,
.doc .videoblock.text-left {
  align-items: flex-start;
}

.doc .imageblock.text-right,
.doc .videoblock.text-right {
  align-items: flex-end;
}

.doc .imageblock img,
.doc .imageblock object,
.doc .imageblock svg,
.doc .image > img,
.doc .image > object,
.doc .image > svg {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.doc .imageblock.framed img,
.doc .imageblock.framed object,
.doc .imageblock.framed svg,
.doc .image.framed > img,
.doc .image.framed > object,
.doc .image.framed > svg {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-purple);
}

.doc .image:not(.left):not(.right) > img {
  margin-top: -0.2em;
}

.doc .videoblock iframe {
  max-width: 100%;
  vertical-align: middle;
}

#preamble .abstract blockquote {
  background: var(--abstract-background);
  border-left: 5px solid var(--abstract-border-color);
  color: var(--abstract-font-color);
  font-size: inherit;
  padding: 1rem 1.25rem;
}

.doc .quoteblock,
.doc .verseblock {
  background: var(--quote-background);
  border-left: 2px solid var(--quote-border-color);
  color: var(--quote-font-color);
}

.doc .quoteblock {
  padding: 1rem 1.25rem;
}

.doc .quoteblock .attribution {
  color: var(--quote-attribution-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  margin-top: 0.75rem;
}

.doc .quoteblock blockquote {
  margin-top: 1rem;
}

.doc .quoteblock .paragraph {
  font-style: italic;
}

.doc .quoteblock cite {
  padding-left: 1em;
}

.doc .verseblock {
  font-size: 1.15em;
  padding: 1rem 2rem;
}

.doc .verseblock pre {
  font-family: inherit;
  font-size: inherit;
}

.doc ol,
.doc ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

.doc ul.checklist,
.doc ul.none,
.doc ol.none,
.doc ul.no-bullet,
.doc ol.unnumbered,
.doc ul.unstyled,
.doc ol.unstyled {
  list-style-type: none;
}

.doc ul.no-bullet,
.doc ol.unnumbered {
  padding-left: 1.25rem;
}

.doc ul.unstyled,
.doc ol.unstyled {
  padding-left: 0;
}

.doc ul.circle {
  list-style-type: circle;
}

.doc ul.disc {
  list-style-type: disc;
}

.doc ul.square {
  list-style-type: square;
}

.doc ul.circle ul:not([class]),
.doc ul.disc ul:not([class]),
.doc ul.square ul:not([class]) {
  list-style: inherit;
}

.doc ol.arabic {
  list-style-type: decimal;
}

.doc ol.decimal {
  list-style-type: decimal-leading-zero;
}

.doc ol.loweralpha {
  list-style-type: lower-alpha;
}

.doc ol.upperalpha {
  list-style-type: upper-alpha;
}

.doc ol.lowerroman {
  list-style-type: lower-roman;
}

.doc ol.upperroman {
  list-style-type: upper-roman;
}

.doc ol.lowergreek {
  list-style-type: lower-greek;
}

.doc ul.checklist {
  padding-left: 1.75rem;
}

.doc ul.checklist p > i.fa-check-square-o:first-child,
.doc ul.checklist p > i.fa-square-o:first-child {
  display: inline-flex;
  justify-content: center;
  width: 1.25rem;
  margin-left: -1.25rem;
}

.doc ul.checklist i.fa-check-square-o::before {
  content: "\2713";
}

.doc ul.checklist i.fa-square-o::before {
  content: "\274f";
}

.doc .olist ol {
  padding-left: 2rem;
}

.doc .ulist ul {
  padding-left: 0;
  list-style: none;
}

.doc .ulist li {
  padding-left: 1rem;
  position: relative;
}

.doc .olist li + li,
.doc .ulist li + li {
  margin-top: 0.75rem;
}

.doc .ulist li::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  position: absolute;
  top: 0.5625rem;
  left: 0;
  background: currentColor;
}

.doc .dlist .dlist,
.doc .dlist .olist,
.doc .dlist .ulist,
.doc .olist .dlist,
.doc .olist .olist,
.doc .olist .ulist,
.doc .ulist .dlist,
.doc .ulist .olist,
.doc .ulist .ulist {
  margin-top: 0.75rem;
}

.doc .ulist .ulist li::before {
  background: none;
  box-shadow: inset 0 0 0 1px currentColor;
}

.doc .admonitionblock .title,
.doc .exampleblock .title,
.doc .imageblock .title,
.doc .literalblock .title,
.doc .listingblock .title,
.doc .openblock .title,
.doc .videoblock .title,
.doc .tableblock caption {
  color: var(--caption-font-color);
  font-size: calc(16 / var(--rem-base) * 1rem);
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  hyphens: none;
  letter-spacing: 0.01em;
  padding-bottom: 0.075rem;
}

.doc .tableblock caption {
  text-align: left;
}

.doc .ulist .title,
.doc .olist .title {
  font-style: var(--caption-font-style);
  font-weight: var(--caption-font-weight);
  margin-bottom: 0.25rem;
}

.doc .imageblock .title {
  margin-top: 0.5rem;
  padding-bottom: 0;
}

.doc details {
  margin-left: 1rem;
}

.doc details > summary {
  display: block;
  position: relative;
  line-height: var(--doc-line-height);
  margin-bottom: 0.5rem;
}

.doc details > summary::-webkit-details-marker {
  display: none;
}

.doc details > summary::before {
  content: "";
  border: solid transparent;
  border-left-color: currentColor;
  border-width: 0.3em 0 0.3em 0.5em;
  position: absolute;
  top: calc((var(--doc-line-height) * 0.5 - 0.3) * 1em);
  left: -1rem;
  transform: translateX(15%);
}

.doc details[open] > summary::before {
  border-color: currentColor transparent transparent;
  border-width: 0.5rem 0.3rem 0;
  transform: translateY(15%);
}

.doc details > summary::after {
  content: "";
  width: 1rem;
  height: 1em;
  position: absolute;
  top: calc((var(--doc-line-height) * 0.5 - 0.5) * 1em);
  left: -1rem;
}

.doc details.result {
  margin-top: 0.25rem;
}

.doc details.result > summary {
  color: var(--caption-font-color);
  font-style: italic;
  margin-bottom: 0;
}

.doc details.result > .content {
  margin-left: -1rem;
}

.doc .exampleblock > .content,
.doc details.result > .content {
  background: var(--example-background);
  border: 2px solid var(--example-border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.doc .exampleblock > .content::after,
.doc details.result > .content::after {
  content: "";
  display: table;
  clear: both;
}

.doc .exampleblock > .content > :first-child,
.doc details > .content > :first-child {
  margin-top: 0;
}

.doc .listingblock .content {
  background: var(--pre-background);
  border-radius: var(--border-radius);
  border: 1px solid var(--pre-border-color);
  position: relative;
}

.doc .listingblock .content pre {
  flex: 1;
  min-width: 0;
  overflow: auto;
  padding: 1.25rem;
  padding-right: calc(1.25rem + 1.25rem + 0.5rem); /* padding + icon + gap */
  display: flex;
}

.doc pre.highlight code,
.doc .listingblock pre:not(.highlight),
.doc .literalblock pre {
  display: block;
}

.doc .source-toolbox {
  visibility: hidden;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  background: var(--color-black-purple);
  box-shadow: 0 0 0.25rem 0.25rem var(--color-black-purple);
}

.doc .source-toolbox .source-lang {
  display: none;
}

.doc .listingblock:hover .source-toolbox {
  visibility: visible;
}

.doc .source-toolbox .copy-button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.doc .source-toolbox .copy-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="%23ffffff"><path d="M9.33333 14.6667H6.37333C5.74461 14.6643 5.1423 14.4135 4.69772 13.9689C4.25314 13.5244 4.00234 12.9221 4 12.2933V6.37333C4.00234 5.74461 4.25314 5.1423 4.69772 4.69772C5.1423 4.25314 5.74461 4.00234 6.37333 4H12.2933C12.9221 4.00234 13.5244 4.25314 13.9689 4.69772C14.4135 5.1423 14.6643 5.74461 14.6667 6.37333V9.33333H17.3333C18.0406 9.33333 18.7189 9.61428 19.219 10.1144C19.719 10.6145 20 11.2928 20 12V17.3333C20 18.0406 19.719 18.7189 19.219 19.219C18.7189 19.719 18.0406 20 17.3333 20H12C11.2928 20 10.6145 19.719 10.1144 19.219C9.61428 18.7189 9.33333 18.0406 9.33333 17.3333V14.6667ZM9.33333 12.8889V12C9.33333 11.2928 9.61428 10.6145 10.1144 10.1144C10.6145 9.61428 11.2928 9.33333 12 9.33333H12.8889V6.37333C12.8889 6.21538 12.8261 6.0639 12.7145 5.95221C12.6028 5.84052 12.4513 5.77778 12.2933 5.77778H6.37333C6.21538 5.77778 6.0639 5.84052 5.95221 5.95221C5.84052 6.0639 5.77778 6.21538 5.77778 6.37333V12.2933C5.77778 12.4513 5.84052 12.6028 5.95221 12.7145C6.0639 12.8261 6.21538 12.8889 6.37333 12.8889H9.33333ZM11.3715 11.3715C11.5382 11.2048 11.7643 11.1111 12 11.1111H17.3333C17.5691 11.1111 17.7952 11.2048 17.9619 11.3715C18.1286 11.5382 18.2222 11.7643 18.2222 12V17.3333C18.2222 17.5691 18.1286 17.7952 17.9619 17.9619C17.7952 18.1286 17.5691 18.2222 17.3333 18.2222H12C11.7643 18.2222 11.5382 18.1286 11.3715 17.9619C11.2048 17.7952 11.1111 17.5691 11.1111 17.3333V12C11.1111 11.7643 11.2048 11.5382 11.3715 11.3715Z"/></svg>');
}

.doc .source-toolbox .copy-toast {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease 0.5s;
  background: var(--color-light-purple);
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  font-family: var(--body-font-family);
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doc .source-toolbox .copy-toast::after {
  content: "";
  position: absolute;
  top: 0;
  border: 0.55em solid transparent;
  border-left-color: var(--color-light-purple);
  transform: rotate(-90deg) translateX(50%) translateY(50%);
  transform-origin: left;
}

.doc .source-toolbox .copy-button.clicked .copy-toast {
  opacity: 1;
  transition: none;
}

.doc .language-console .hljs-meta {
  user-select: none;
}

.doc .dlist dt {
  font-style: italic;
}

.doc .dlist dd {
  margin: 0 0 0.25rem 1.5rem;
}

.doc .dlist dd:last-of-type {
  margin-bottom: 0;
}

.doc td.hdlist1,
.doc td.hdlist2 {
  padding: 0.5rem 0 0;
  vertical-align: top;
}

.doc tr:first-child > .hdlist1,
.doc tr:first-child > .hdlist2 {
  padding-top: 0;
}

.doc td.hdlist1 {
  font-weight: var(--body-font-weight-bold);
  padding-right: 0.25rem;
}

.doc td.hdlist2 {
  padding-left: 0.25rem;
}

.doc .colist {
  font-size: calc(16 / var(--rem-base) * 1rem);
  margin: 0.25rem 0 -0.25rem;
}

.doc .colist > table > tr > :first-child,
.doc .colist > table > tbody > tr > :first-child {
  padding: 0.25em 0.5rem 0;
  vertical-align: top;
}

.doc .colist > table > tr > :last-child,
.doc .colist > table > tbody > tr > :last-child {
  padding: 0.25rem 0;
}

.doc .conum[data-value] {
  border: 1px solid currentColor;
  border-radius: 100%;
  display: inline-block;
  font-family: var(--body-font-family);
  font-size: calc(13.5 / var(--rem-base) * 1rem);
  font-style: normal;
  line-height: 1.2;
  text-align: center;
  width: 1.25em;
  height: 1.25em;
  letter-spacing: -0.25ex;
  text-indent: -0.25ex;
}

.doc .conum[data-value]::after {
  content: attr(data-value);
}

.doc .conum[data-value] + b {
  display: none;
}

.doc hr {
  border: solid var(--section-divider-color);
  border-width: 2px 0 0;
  height: 0;
}

.doc b.button {
  white-space: nowrap; /* effectively ignores hyphens setting */
}

.doc b.button::before {
  content: "[ ";
}

.doc b.button::after {
  content: " ]";
}

.doc kbd {
  display: inline-block;
  font-size: calc(12 / var(--rem-base) * 1rem);
  background: var(--kbd-background);
  border: 1px solid var(--kbd-border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 0 var(--kbd-border-color),
    0 0 0 0.1em var(--body-background) inset;
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
  white-space: nowrap; /* effectively ignores hyphens setting */
}

.doc kbd,
.doc .keyseq {
  line-height: 1;
}

.doc .keyseq {
  font-size: calc(16 / var(--rem-base) * 1rem);
}

.doc .keyseq kbd {
  margin: 0 0.125em;
}

.doc .keyseq kbd:first-child {
  margin-left: 0;
}

.doc .keyseq kbd:last-child {
  margin-right: 0;
}

.doc .menuseq,
.doc .path {
  hyphens: none;
}

.doc .menuseq i.caret::before {
  content: "\203a";
  font-size: 1.1em;
  font-weight: var(--body-font-weight-bold);
  line-height: calc(1 / 1.1);
}

.doc :not(pre).nowrap {
  white-space: nowrap;
}

.doc .nobreak {
  hyphens: none;
  word-wrap: normal;
}

#footnotes {
  font-size: 0.85em;
  line-height: 1.5;
  margin: 2rem -0.5rem 0;
}

.doc td.tableblock > .content #footnotes {
  margin: 2rem 0 0;
}

#footnotes hr {
  border-top-width: 1px;
  margin-top: 0;
  width: 20%;
}

#footnotes .footnote {
  margin: 0.5em 0 0 1em;
}

#footnotes .footnote + .footnote {
  margin-top: 0.25em;
}

#footnotes .footnote > a:first-of-type {
  display: inline-block;
  margin-left: -2em;
  text-align: right;
  width: 1.5em;
}
