@use "colors";
@use "media";
@use "shapes" as *;
@use "media_docs";

// No card
// $docs-card-padding-desktop: 43px;
// $docs-card-padding-tablet: 27px;
// $docs-card-padding-mobile: 12px;

// Card
$doc-padding-sides-desktop: 15px;
$doc-padding-sides-tablet: 10px;
$doc-padding-sides-mobile: 5px;
$doc-toc-link-tooltip-width: 150px;

// Long Card

$toolbar-height: 57px;


:root {
    --doc-padding-sides: #{$doc-padding-sides-desktop};
    --doc-tooltip-width: #{$doc-toc-link-tooltip-width};
    --body-width: 1440px;
    --body-padding-sides: 20px;
    --body-padding-bottom: 40px;
    --body-gap: 32px;
    /* toolbar */
    --toolbar-height: #{$toolbar-height};
    /* nav */
    --nav-width: 256px;
    /* search */
    --search-result-background: #{rgba(colors.$deep-purple, 0.5)};
    --search-result-hover-color: #{rgba(colors.$light-purple, 0.5)};
    --search-shadow-color: rgba(0, 0, 0, 0.5);
    --search-height: 38px;
    --search-highlight-color: rgba(246, 201, 76, 0.25);

    @media (max-width: media.$max-width-tablet) {
        --doc-padding-sides: #{$doc-padding-sides-tablet};
    }

    @media (max-width: media.$max-width-mobile) {
        --doc-padding-sides: #{$doc-padding-sides-mobile};
    }
}
