@use "media";
@use "shapes" as *;
@use "media_docs";

// No card
// $docs-card-padding-desktop: 43px;
// $docs-card-padding-tablet: 27px;
// $docs-card-padding-mobile: 12px;

// Card
$doc-padding-desktop: 15px;
$doc-padding-tablet: 10px;
$doc-padding-mobile: 5px;
$doc-toc-link-tooltip-width: 150px;

// Long Card


:root {
    --doc-padding: #{$doc-padding-desktop};
    --doc-tooltip-width: #{$doc-toc-link-tooltip-width};

    @media (max-width: media_docs.$max-width-tablet-docs) {
        --doc-padding: #{$doc-padding-tablet};
    }

    @media (max-width: media.$max-width-mobile) {
        --doc-padding: #{$doc-padding-mobile};
    }
}
