footer[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--content-border-color);
  background: var(--color-purple);
}

a[_ngcontent-ng-c2358121668],
a[_ngcontent-ng-c2358121668]:visited,
a[_ngcontent-ng-c2358121668] p[_ngcontent-ng-c2358121668] {
  color: var(--default-heading-color);
}

a[_ngcontent-ng-c2358121668]:hover,
a[_ngcontent-ng-c2358121668]:focus,
a[_ngcontent-ng-c2358121668]:visited:hover,
a[_ngcontent-ng-c2358121668]:visited:focus,
a[_ngcontent-ng-c2358121668] p[_ngcontent-ng-c2358121668]:hover,
a[_ngcontent-ng-c2358121668] p[_ngcontent-ng-c2358121668]:focus {
  color: var(--color-green);
  text-decoration: underline;
}

a[_ngcontent-ng-c2358121668]:hover p[_ngcontent-ng-c2358121668],
a[_ngcontent-ng-c2358121668]:focus p[_ngcontent-ng-c2358121668] {
  color: var(--color-green);
}

.ft-section[_ngcontent-ng-c2358121668] {
  width: var(--section-width);
  max-width: var(--section-max-width);
  padding: 40px 0;
}

@media (max-width: 767px) {
  .ft-section[_ngcontent-ng-c2358121668] {
    padding: 24px 0;
  }
}

.ft-section[_ngcontent-ng-c2358121668]:not(:first-child) {
  border-top: 1px solid var(--content-border-color);
}

.ft-social-section[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .ft-social-section[_ngcontent-ng-c2358121668] {
    flex-direction: column;
    gap: 24px;
  }

  .ft-social-section[_ngcontent-ng-c2358121668] td-button a {
    width: 100%;
  }
}

.ft-social-links[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 48px;
}

@media (max-width: 767px) {
  .ft-social-links[_ngcontent-ng-c2358121668] {
    align-self: stretch;
    justify-content: center;
    height: 32px;
  }
}

.ft-social-links[_ngcontent-ng-c2358121668]
  .mat-icon[_ngcontent-ng-c2358121668] {
  color: var(--color-white);
  font-size: 48px;
}

@media (max-width: 767px) {
  .ft-social-links[_ngcontent-ng-c2358121668]
    .mat-icon[_ngcontent-ng-c2358121668] {
    font-size: 32px;
  }
}

.ft-nav-section[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 32px 104px;
}

.ft-nav-section[_ngcontent-ng-c2358121668] ul[_ngcontent-ng-c2358121668],
.ft-nav-section[_ngcontent-ng-c2358121668] li[_ngcontent-ng-c2358121668] {
  list-style: none;
}

.ft-contact-section[_ngcontent-ng-c2358121668] ul[_ngcontent-ng-c2358121668] {
  margin-top: 32px;
}

.ft-contact-section[_ngcontent-ng-c2358121668]
  li[_ngcontent-ng-c2358121668]:not(:first-child) {
  margin-top: 12px;
}

.ft-contact-section[_ngcontent-ng-c2358121668] a[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.ft-sitemap-section[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 104px;
}

@media (max-width: 1199px) {
  .ft-sitemap-section[_ngcontent-ng-c2358121668] {
    gap: 72px;
  }
}

@media (max-width: 767px) {
  .ft-sitemap-section[_ngcontent-ng-c2358121668] {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px 24px;
  }
}

.ft-sitemap-section[_ngcontent-ng-c2358121668] ul[_ngcontent-ng-c2358121668] {
  margin-top: 34px;
}

@media (max-width: 1199px) {
  .ft-sitemap-section[_ngcontent-ng-c2358121668] ul[_ngcontent-ng-c2358121668] {
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .ft-sitemap-section[_ngcontent-ng-c2358121668] ul[_ngcontent-ng-c2358121668] {
    margin-top: 16px;
    width: 144px;
  }
}

.ft-sitemap-section[_ngcontent-ng-c2358121668]
  li[_ngcontent-ng-c2358121668]:not(:first-child) {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .ft-sitemap-section[_ngcontent-ng-c2358121668]
    li[_ngcontent-ng-c2358121668]:not(:first-child) {
    margin-top: 12px;
  }
}

.ft-copyright-section[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 767px) {
  .ft-copyright-section[_ngcontent-ng-c2358121668] {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
  }
}

.ft-credits[_ngcontent-ng-c2358121668] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  line-height: 22px;
}

.ft-credits[_ngcontent-ng-c2358121668] .mat-icon[_ngcontent-ng-c2358121668] {
  font-size: 16px;
}

.ft-credits[_ngcontent-ng-c2358121668]
  .ft-icon-code[_ngcontent-ng-c2358121668] {
  color: var(--color-green);
}

.ft-credits[_ngcontent-ng-c2358121668]
  .ft-icon-heart[_ngcontent-ng-c2358121668] {
  color: var(--color-red);
}

.ft-credits[_ngcontent-ng-c2358121668]
  .ft-logo-vaticle[_ngcontent-ng-c2358121668] {
  width: 52px;
  height: unset;
}

.ft-credits[_ngcontent-ng-c2358121668] strong[_ngcontent-ng-c2358121668] {
  margin-bottom: 2px;
}
