header[_ngcontent-ng-c1391601438] {
  background-color: #1a182a !important;
  border-bottom-color: #232135 !important;

  box-shadow: 0 0 0.5rem 0.5rem var(--body-background);
}

/* topbar styles */

header[_ngcontent-ng-c1391601438],
td-topbar-menu-panel[_ngcontent-ng-c1391601438] {
  left: 0;
  right: 0;
  z-index: 700;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

header[_ngcontent-ng-c1391601438] {
  position: fixed;
  top: 0;
}
@media (hover: hover) {
  header[_ngcontent-ng-c1391601438] {
    transition: background-color 100ms ease;
  }
  header[_ngcontent-ng-c1391601438]:hover {
    background-color: var(--color-purple) !important;
    border-bottom-color: var(--color-secondary-deep-grey) !important;
  }
}
header.tb-solid[_ngcontent-ng-c1391601438] {
  background-color: var(--color-purple) !important;
  border-bottom-color: var(--color-secondary-deep-grey) !important;
}

td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
  position: fixed;
  bottom: 0;
  right: 0;
  top: var(--topbar-height);
}
header.has-banner[_ngcontent-ng-c1391601438]
  td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
  top: calc(var(--topbar-height) + var(--banner-height));
}

nav[_ngcontent-ng-c1391601438] {
  height: var(--topbar-height);
  background-color: transparent;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438] {
    padding: 0 12px;
  }
}
@media (max-width: 767px) {
  nav[_ngcontent-ng-c1391601438] {
    padding: 0;
  }
}
nav[_ngcontent-ng-c1391601438] .tb-logo-container[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438] .tb-menu-panel-header[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438] {
  color: var(--body-heading-color);
  padding: 0 20px;
}
nav[_ngcontent-ng-c1391601438]
  .tb-logo-container[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-logo-container[_ngcontent-ng-c1391601438]:focus,
nav[_ngcontent-ng-c1391601438]
  .tb-menu-panel-header[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-menu-panel-header[_ngcontent-ng-c1391601438]:focus,
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438]:focus {
  color: var(--color-green);
  text-decoration: underline;
}
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > td-button[_ngcontent-ng-c1391601438] {
  padding: 0 20px;
}
nav[_ngcontent-ng-c1391601438] .tb-logo-container[_ngcontent-ng-c1391601438] {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438]
    .tb-logo-container[_ngcontent-ng-c1391601438]
    img[_ngcontent-ng-c1391601438] {
    height: 32px;
  }
}
@media (max-width: 767px) {
  nav[_ngcontent-ng-c1391601438]
    .tb-logo-container[_ngcontent-ng-c1391601438]
    img[_ngcontent-ng-c1391601438] {
    height: 24px;
  }
}
nav[_ngcontent-ng-c1391601438] td-button a {
  width: 118px;
}
nav[_ngcontent-ng-c1391601438] .tb-desktop-items[_ngcontent-ng-c1391601438] {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438] .tb-desktop-items[_ngcontent-ng-c1391601438] {
    display: none;
  }
}
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438] {
  display: flex;
  flex-direction: row;
}
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438] {
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > .tb-menu-panel-header[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > td-button[_ngcontent-ng-c1391601438] {
  display: flex;
  align-items: center;
}

.tb-big-icon[_ngcontent-ng-c1391601438] {
  color: var(--color-white);
  font-size: 40px;
}

.tb-hamburger-button[_ngcontent-ng-c1391601438] {
  margin-right: 16px;
  align-self: center;
  color: var(--color-white);
}
.tb-hamburger-button[_ngcontent-ng-c1391601438]
  .tb-hamburger-mobile[_ngcontent-ng-c1391601438],
.tb-hamburger-button[_ngcontent-ng-c1391601438]
  .tb-x-icon[_ngcontent-ng-c1391601438] {
  display: none;
}
@media (max-width: 767px) {
  .tb-hamburger-button[_ngcontent-ng-c1391601438] {
    margin-right: 12px;
  }
  .tb-hamburger-button[_ngcontent-ng-c1391601438]
    .tb-hamburger-tablet[_ngcontent-ng-c1391601438] {
    display: none;
  }
  .tb-hamburger-button[_ngcontent-ng-c1391601438]:not(.tb-opened)
    .tb-hamburger-mobile[_ngcontent-ng-c1391601438] {
    display: inline-block;
  }
  .tb-hamburger-button.tb-opened[_ngcontent-ng-c1391601438]
    .tb-x-icon[_ngcontent-ng-c1391601438] {
    display: inline-block;
  }
}

td-topbar-menu-panel[_ngcontent-ng-c1391601438] {
  top: var(--topbar-height);
  border-bottom: 1px solid var(--color-secondary-deep-grey);
  background-color: rgba(26, 24, 42, 0.8);
}
td-topbar-menu-panel[_ngcontent-ng-c1391601438]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

a[_ngcontent-ng-c1391601438],
a[_ngcontent-ng-c1391601438]:visited {
  color: var(--body-heading-color);
}

a[_ngcontent-ng-c1391601438] .tb-external-link-icon[_ngcontent-ng-c1391601438] {
  margin-left: 4px;
  margin-right: -24px;
  font-size: 20px;
  visibility: hidden;
}

a[_ngcontent-ng-c1391601438]:hover
  .tb-external-link-icon[_ngcontent-ng-c1391601438],
a[_ngcontent-ng-c1391601438]:focus
  .tb-external-link-icon[_ngcontent-ng-c1391601438] {
  visibility: visible;
}

.tb-menu-panel-header[_ngcontent-ng-c1391601438] {
  cursor: default;
}

/* topbar menu mobile */

[_nghost-ng-c2159058479] {
  width: 530px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-purple);
  border: 1px solid var(--color-secondary-deep-grey);
}
@media (max-width: 767px) {
  [_nghost-ng-c2159058479] {
    width: 100%;
    padding: 0 20px;
    overflow-y: auto;
    border: none;
  }
}
@media (min-width: 1200px) {
  [_nghost-ng-c2159058479] {
    display: none;
  }
}

.tm-top-level-items[_ngcontent-ng-c2159058479] li[_ngcontent-ng-c2159058479] {
  list-style: none;
}

.tm-primary-area[_ngcontent-ng-c2159058479] {
  margin: 0 -32px;
  padding: 32px 32px 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479] {
    margin: 0 -20px;
    padding: 16px 20px;
    overflow-y: visible;
    gap: 16px;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header[_ngcontent-ng-c2159058479] {
  margin: 0 -32px;
  padding: 8px 32px;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: var(--body-heading-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > a[_ngcontent-ng-c2159058479],
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > .tb-menu-panel-header[_ngcontent-ng-c2159058479] {
    margin: 0 -20px;
    padding: 0 20px;
    gap: 16px;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a.tm-expanded[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479] {
  color: var(--color-green);
  text-decoration: underline;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > a.tm-expanded[_ngcontent-ng-c2159058479],
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479] {
    text-decoration: initial;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a.tm-expanded[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479] {
  transform: rotate(180deg);
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479] {
  color: var(--color-white);
  width: 20px;
  height: 20px;
}

.tm-secondary-area[_ngcontent-ng-c2159058479] {
  border-top: 1px solid var(--content-border-color);
  padding: 24px 0 32px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479] {
    padding: 16px 0;
    gap: 20px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]:first-of-type {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]:first-of-type {
    margin-right: -4px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]:last-of-type {
  margin-left: 8px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]:last-of-type {
    margin-left: -4px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li.tm-secondary-link[_ngcontent-ng-c2159058479] {
  display: flex;
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  .mat-icon[_ngcontent-ng-c2159058479] {
  font-size: 40px;
}

.tm-github[_ngcontent-ng-c2159058479] {
  display: flex;
}

.tm-external-link-icon[_ngcontent-ng-c2159058479] {
  font-size: 16px;
}

button.tb-menu-panel-header[_ngcontent-ng-c2159058479] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

/* menu panel mobile */

[_nghost-ng-c3324804823] {
  margin-top: 24px;
  display: block;
  padding-left: 16px;
  border-left: 1px solid var(--content-border-color);
}
@media (max-width: 767px) {
  [_nghost-ng-c3324804823] {
    margin-top: 16px;
  }
}

.mm-column[_ngcontent-ng-c3324804823] {
  padding: 16px 0;
  border-top: 1px solid var(--content-border-color);
}
.mm-column[_ngcontent-ng-c3324804823]:first-of-type {
  padding-top: 0;
  border-top: none;
}
.mm-column[_ngcontent-ng-c3324804823]:last-of-type {
  padding-bottom: 0;
}

ul[_ngcontent-ng-c3324804823],
li[_ngcontent-ng-c3324804823] {
  list-style: none;
}

ul[_ngcontent-ng-c3324804823] {
  margin-top: var(--text-margin-s);
  display: flex;
  flex-direction: column;
  gap: var(--text-margin-s);
}

h4[_ngcontent-ng-c3324804823] {
  display: flex;
  align-items: center;
  gap: 4px;
}

.mp-coming-soon[_ngcontent-ng-c3324804823] {
  cursor: default;
  opacity: 0.5;
}

a[_ngcontent-ng-c3324804823]:hover
  .mm-list-column-item-name[_ngcontent-ng-c3324804823],
a[_ngcontent-ng-c3324804823]:focus
  .mm-list-column-item-name[_ngcontent-ng-c3324804823] {
  color: var(--color-green);
  text-decoration: underline;
}

.mm-column-title[_ngcontent-ng-c3324804823] {
  color: var(--body-heading-color);
  font-weight: var(--font-weight-semi-bold);
}

.mm-list-column-item-name[_ngcontent-ng-c3324804823] {
  display: flex;
  align-items: center;
  color: var(--body-heading-color);
  font-weight: var(--font-weight-regular);
}

.mm-list-column-description[_ngcontent-ng-c3324804823] {
  color: var(--color-secondary-light-grey);
  margin-top: 4px;
  text-decoration: none;
}

.tb-external-link-icon[_ngcontent-ng-c3324804823] {
  font-size: 20px;
}

/* button styles */

[_nghost-ng-c3032785714] {
  position: relative;
}

/* menu panel */

[_nghost-ng-c3847089172] {
  position: absolute;
  top: 80px;
}

.mp-root[_ngcontent-ng-c3847089172] {
  width: 100%;
  border-top: 1px solid var(--color-secondary-deep-grey);
  box-shadow: 0 8px 30px rgba(14, 13, 23, 0.58);
  padding-left: 186px;
  display: flex;
  flex-direction: row;
}

.mp-column[_ngcontent-ng-c3847089172] {
  padding: 32px 40px;
}
.mp-column[_ngcontent-ng-c3847089172]:not(:first-child) {
  border-left: 1px solid var(--content-border-color);
}
.mp-column[_ngcontent-ng-c3847089172] ul[_ngcontent-ng-c3847089172],
.mp-column[_ngcontent-ng-c3847089172] li[_ngcontent-ng-c3847089172],
.mp-column[_ngcontent-ng-c3847089172] dl[_ngcontent-ng-c3847089172] {
  list-style: none;
}
.mp-column[_ngcontent-ng-c3847089172] ul[_ngcontent-ng-c3847089172],
.mp-column[_ngcontent-ng-c3847089172] dl[_ngcontent-ng-c3847089172] {
  margin: 32px 0;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-columns: 280px;
  gap: 32px;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]:nth-of-type(n + 1) {
  grid-column: 1;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]:nth-of-type(n + 5) {
  grid-column: 2;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]:nth-of-type(n + 9) {
  grid-column: 3;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]
  h4[_ngcontent-ng-c3847089172] {
  font-weight: var(--font-weight-semi-bold);
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]
  .mp-coming-soon[_ngcontent-ng-c3847089172] {
  cursor: default;
}
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]
  .mp-coming-soon[_ngcontent-ng-c3847089172]
  h4[_ngcontent-ng-c3847089172]
  span[_ngcontent-ng-c3847089172],
.mp-column[_ngcontent-ng-c3847089172]
  li[_ngcontent-ng-c3847089172]
  .mp-coming-soon[_ngcontent-ng-c3847089172]
  p[_ngcontent-ng-c3847089172] {
  opacity: 0.5;
}

.mp-column-title[_ngcontent-ng-c3847089172] {
  color: var(--body-heading-color);
  padding-bottom: 8px;
  border-bottom: 1px solid var(--content-border-color);
  font-weight: var(--font-weight-semi-bold);
}

dt[_ngcontent-ng-c3847089172] {
  color: var(--body-heading-color);
  font-weight: var(--font-weight-regular);
}

dd[_ngcontent-ng-c3847089172] {
  color: var(--color-secondary-light-grey);
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mp-coming-soon[_ngcontent-ng-c3847089172],
a[_ngcontent-ng-c3847089172] {
  color: var(--color-white);
}
.mp-coming-soon[_ngcontent-ng-c3847089172]
  .tb-external-link-icon[_ngcontent-ng-c3847089172],
a[_ngcontent-ng-c3847089172] .tb-external-link-icon[_ngcontent-ng-c3847089172] {
  margin-left: 4px;
  margin-right: -24px;
  margin-bottom: -4px;
  font-size: 20px;
  visibility: hidden;
}
.mp-coming-soon[_ngcontent-ng-c3847089172]
  .tb-external-link-icon[_ngcontent-ng-c3847089172]
  path[_ngcontent-ng-c3847089172],
a[_ngcontent-ng-c3847089172]
  .tb-external-link-icon[_ngcontent-ng-c3847089172]
  path[_ngcontent-ng-c3847089172] {
  fill: var(--color-green);
}

a[_ngcontent-ng-c3847089172]:hover dt[_ngcontent-ng-c3847089172],
a[_ngcontent-ng-c3847089172]:focus dt[_ngcontent-ng-c3847089172] {
  color: var(--color-green);
  text-decoration: underline;
}
a[_ngcontent-ng-c3847089172]:hover
  .tb-external-link-icon[_ngcontent-ng-c3847089172],
a[_ngcontent-ng-c3847089172]:focus
  .tb-external-link-icon[_ngcontent-ng-c3847089172] {
  visibility: visible;
}
