header[_ngcontent-ng-c1391601438] {
  background-color: #1a182a !important;
  border-bottom-color: #232135 !important;
  position: sticky !important;
  line-height: calc(25 / 17);

  box-shadow: 0 0 0.5rem 0.5rem var(--body-background);
}

/* typography */

header[_ngcontent-ng-c1391601438] h5 {
  font-size: 17px;
  line-height: 1.4705882353;
}

@media (max-width: 767px) {
  header[_ngcontent-ng-c1391601438] h5 {
    font-size: 15px;
    line-height: 1.5333333333;
  }
}

header[_ngcontent-ng-c1391601438] p,
header[_ngcontent-ng-c1391601438] .text-p2 {
  font-size: 17px;
  line-height: 1.4705882353;
}

@media (max-width: 767px) {
  header[_ngcontent-ng-c1391601438] p,
  header[_ngcontent-ng-c1391601438] .text-p2 {
    font-size: 15px;
    line-height: 1.5333333333;
  }
}

header[_ngcontent-ng-c1391601438] aside,
header[_ngcontent-ng-c1391601438] .text-aside {
  font-size: 15px;
  line-height: 1.5333333333;
}

@media (max-width: 767px) {
  header[_ngcontent-ng-c1391601438] aside,
  header[_ngcontent-ng-c1391601438] .text-aside {
    font-size: 13px;
    line-height: 1.6153846154;
  }
}

header[_ngcontent-ng-c1391601438] dt {
  font-weight: inherit;
}

header[_ngcontent-ng-c1391601438] dd {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

header[_ngcontent-ng-c1391601438] a {
  color: #fff;
}

header[_ngcontent-ng-c1391601438] a:hover {
  text-decoration: none;
}

header[_ngcontent-ng-c1391601438] button {
  font-weight: initial;
  line-height: initial;
}

/* topbar styles */

header[_ngcontent-ng-c1391601438],
td-topbar-menu-panel[_ngcontent-ng-c1391601438] {
  left: 0;
  right: 0;
  z-index: 700;
  background-color: transparent;
  border-bottom: 1px solid transparent;
}

header[_ngcontent-ng-c1391601438] {
  position: fixed;
  top: 0;
}

@media (hover: hover) {
  header[_ngcontent-ng-c1391601438] {
    transition: background-color 0.1s ease;
  }

  header[_ngcontent-ng-c1391601438]:hover {
    background-color: #1a182a !important;
    border-bottom-color: #232135 !important;
  }
}

header.tb-solid[_ngcontent-ng-c1391601438] {
  background-color: #1a182a !important;
  border-bottom-color: #232135 !important;
}

td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 80px;
}

@media (max-width: 767px) {
  td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
    top: 48px;
  }
}

header.has-banner[_ngcontent-ng-c1391601438]
  td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
  top: 114px;
}

@media (max-width: 767px) {
  header.has-banner[_ngcontent-ng-c1391601438]
    td-topbar-menu-mobile[_ngcontent-ng-c1391601438] {
    top: 78px;
  }
}

nav[_ngcontent-ng-c1391601438] {
  height: 80px;
  background-color: transparent;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438] {
    padding: 0 12px;
  }
}

@media (max-width: 767px) {
  nav[_ngcontent-ng-c1391601438] {
    height: 48px;
    padding: 0;
  }
}

nav[_ngcontent-ng-c1391601438] .tb-logo-container[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438] .tb-menu-panel-header[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438] {
  color: #fff;
  padding: 0 20px;
}

nav[_ngcontent-ng-c1391601438]
  .tb-logo-container[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-logo-container[_ngcontent-ng-c1391601438]:focus,
nav[_ngcontent-ng-c1391601438]
  .tb-menu-panel-header[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-menu-panel-header[_ngcontent-ng-c1391601438]:focus,
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438]:hover,
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438]:focus {
  color: #02dac9;
  text-decoration: underline;
}

nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  li[_ngcontent-ng-c1391601438]
  > td-button[_ngcontent-ng-c1391601438] {
  padding: 0 20px;
}

nav[_ngcontent-ng-c1391601438] .tb-logo-container[_ngcontent-ng-c1391601438] {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438]
    .tb-logo-container[_ngcontent-ng-c1391601438]
    img[_ngcontent-ng-c1391601438] {
    height: 32px;
  }
}

@media (max-width: 767px) {
  nav[_ngcontent-ng-c1391601438]
    .tb-logo-container[_ngcontent-ng-c1391601438]
    img[_ngcontent-ng-c1391601438] {
    height: 24px;
  }
}

nav[_ngcontent-ng-c1391601438] td-button a {
  width: 118px;
}

nav[_ngcontent-ng-c1391601438] .tb-desktop-items[_ngcontent-ng-c1391601438] {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1199px) {
  nav[_ngcontent-ng-c1391601438] .tb-desktop-items[_ngcontent-ng-c1391601438] {
    display: none;
  }
}

nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438] {
  display: flex;
  flex-direction: row;
}

nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438] {
  list-style: none;
  display: flex;
  flex-direction: row;
}

nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > .tb-menu-panel-header[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > a[_ngcontent-ng-c1391601438],
nav[_ngcontent-ng-c1391601438]
  .tb-desktop-items[_ngcontent-ng-c1391601438]
  .tb-top-level-items[_ngcontent-ng-c1391601438]
  > li[_ngcontent-ng-c1391601438]
  > td-button[_ngcontent-ng-c1391601438] {
  display: flex;
  align-items: center;
}

.tb-big-icon[_ngcontent-ng-c1391601438] {
  color: #fff;
  font-size: 40px;
}

.tb-hamburger-button[_ngcontent-ng-c1391601438] {
  margin-right: 16px;
  align-self: center;
  color: #fff;
}

.tb-hamburger-button[_ngcontent-ng-c1391601438]
  .tb-hamburger-mobile[_ngcontent-ng-c1391601438],
.tb-hamburger-button[_ngcontent-ng-c1391601438]
  .tb-x-icon[_ngcontent-ng-c1391601438] {
  display: none;
}

@media (max-width: 767px) {
  .tb-hamburger-button[_ngcontent-ng-c1391601438] {
    margin-right: 12px;
  }

  .tb-hamburger-button[_ngcontent-ng-c1391601438]
    .tb-hamburger-tablet[_ngcontent-ng-c1391601438] {
    display: none;
  }

  .tb-hamburger-button[_ngcontent-ng-c1391601438]:not(.tb-opened)
    .tb-hamburger-mobile[_ngcontent-ng-c1391601438] {
    display: inline-block;
  }

  .tb-hamburger-button.tb-opened[_ngcontent-ng-c1391601438]
    .tb-x-icon[_ngcontent-ng-c1391601438] {
    display: inline-block;
  }
}

td-topbar-menu-panel[_ngcontent-ng-c1391601438] {
  top: 80px;
  border-bottom: 1px solid #232135;
  background-color: #1a182acc;
}

td-topbar-menu-panel[_ngcontent-ng-c1391601438]:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

a[_ngcontent-ng-c1391601438],
a[_ngcontent-ng-c1391601438]:visited {
  color: #fff;
}

a[_ngcontent-ng-c1391601438] .tb-external-link-icon[_ngcontent-ng-c1391601438] {
  margin-left: 4px;
  margin-right: -24px;
  font-size: 20px;
  visibility: hidden;
}

a[_ngcontent-ng-c1391601438]:hover
  .tb-external-link-icon[_ngcontent-ng-c1391601438],
a[_ngcontent-ng-c1391601438]:focus
  .tb-external-link-icon[_ngcontent-ng-c1391601438] {
  visibility: visible;
}

.tb-menu-panel-header[_ngcontent-ng-c1391601438] {
  cursor: default;
}

/* topbar menu mobile */

[_nghost-ng-c2159058479] {
  width: 530px;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a182a;
  border: 1px solid #232135;
}
@media (max-width: 767px) {
  [_nghost-ng-c2159058479] {
    width: 100%;
    padding: 0 20px;
    overflow-y: auto;
    border: none;
  }
}
@media (min-width: 1200px) {
  [_nghost-ng-c2159058479] {
    display: none;
  }
}
.tm-top-level-items[_ngcontent-ng-c2159058479] li[_ngcontent-ng-c2159058479] {
  list-style: none;
}
.tm-primary-area[_ngcontent-ng-c2159058479] {
  margin: 0 -32px;
  padding: 32px 32px 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479] {
    margin: 0 -20px;
    padding: 16px 20px;
    overflow-y: visible;
    gap: 16px;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header[_ngcontent-ng-c2159058479] {
  margin: 0 -32px;
  padding: 8px 32px;
  box-sizing: content-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > a[_ngcontent-ng-c2159058479],
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > .tb-menu-panel-header[_ngcontent-ng-c2159058479] {
    margin: 0 -20px;
    padding: 0 20px;
    gap: 16px;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a.tm-expanded[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479] {
  color: #02dac9;
  text-decoration: underline;
}
@media (max-width: 767px) {
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > a.tm-expanded[_ngcontent-ng-c2159058479],
  .tm-primary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]
    > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479] {
    text-decoration: initial;
  }
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > a.tm-expanded[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479],
.tm-primary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]
  > .tb-menu-panel-header.tm-expanded[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479] {
  transform: rotate(180deg);
}
.tm-primary-area[_ngcontent-ng-c2159058479]
  .tm-chevron[_ngcontent-ng-c2159058479] {
  color: #fff;
  width: 20px;
  height: 20px;
}
.tm-secondary-area[_ngcontent-ng-c2159058479] {
  border-top: 1px solid #2d2a46;
  padding: 24px 0 32px;
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479] {
    padding: 16px 0;
    gap: 20px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]:first-of-type {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]:first-of-type {
    margin-right: -4px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li[_ngcontent-ng-c2159058479]:last-of-type {
  margin-left: 8px;
}
@media (max-width: 767px) {
  .tm-secondary-area[_ngcontent-ng-c2159058479]
    li[_ngcontent-ng-c2159058479]:last-of-type {
    margin-left: -4px;
  }
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  li.tm-secondary-link[_ngcontent-ng-c2159058479] {
  display: flex;
}
.tm-secondary-area[_ngcontent-ng-c2159058479]
  .mat-icon[_ngcontent-ng-c2159058479] {
  font-size: 40px;
}
.tm-github[_ngcontent-ng-c2159058479] {
  display: flex;
}
.tm-external-link-icon[_ngcontent-ng-c2159058479] {
  font-size: 16px;
}
button.tb-menu-panel-header[_ngcontent-ng-c2159058479] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
}

/* menu panel mobile */

[_nghost-ng-c3324804823] {
  margin-top: 24px;
  display: block;
  padding-left: 16px;
  border-left: 1px solid #2d2a46;
}
@media (max-width: 767px) {
  [_nghost-ng-c3324804823] {
    margin-top: 16px;
  }
}
.mm-column[_ngcontent-ng-c3324804823] {
  padding: 16px 0;
  border-top: 1px solid #2d2a46;
}
.mm-column[_ngcontent-ng-c3324804823]:first-of-type {
  padding-top: 0;
  border-top: none;
}
.mm-column[_ngcontent-ng-c3324804823]:last-of-type {
  padding-bottom: 0;
}
ul[_ngcontent-ng-c3324804823],
li[_ngcontent-ng-c3324804823] {
  list-style: none;
}
ul[_ngcontent-ng-c3324804823] {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h4[_ngcontent-ng-c3324804823] {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #fff;
}
.mp-coming-soon[_ngcontent-ng-c3324804823] {
  cursor: default;
  opacity: 0.5;
}
a[_ngcontent-ng-c3324804823]:hover
  .mm-list-column-item-name[_ngcontent-ng-c3324804823],
a[_ngcontent-ng-c3324804823]:focus
  .mm-list-column-item-name[_ngcontent-ng-c3324804823] {
  color: #02dac9;
  text-decoration: underline;
}
.mm-column-title[_ngcontent-ng-c3324804823] {
  color: #fff;
  font-weight: 400;
}
.mm-list-column-item-name[_ngcontent-ng-c3324804823] {
  display: flex;
  align-items: center;
  color: #fff;
}
.mm-list-column-description[_ngcontent-ng-c3324804823] {
  color: #958fa8;
  margin-top: 4px;
  text-decoration: none;
}
.tb-external-link-icon[_ngcontent-ng-c3324804823] {
  font-size: 20px;
}

/* button styles */

[_nghost-ng-c2234192906] {
  position: relative;
}

a[_ngcontent-ng-c2234192906] {
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  transition-property: background-color, border, box-shadow, opacity;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  text-decoration: none !important;
}

@media (min-width: 768px) {
  a[_ngcontent-ng-c2234192906] {
    height: 48px;
    width: 202px;
  }
}

@media (max-width: 767px) {
  a[_ngcontent-ng-c2234192906] {
    height: 40px;
  }
}

a.td-button-disabled[_ngcontent-ng-c2234192906] {
  opacity: 50%;
  cursor: default;
}

a.td-button-size-s[_ngcontent-ng-c2234192906] {
  height: 40px;
}

a.primary[_ngcontent-ng-c2234192906] {
  border-color: transparent;
  background: #02dac9;
  color: #1a182a;
}

a.primary[_ngcontent-ng-c2234192906]:not(.td-button-disabled):hover,
a.primary[_ngcontent-ng-c2234192906]:not(.td-button-disabled).container-hover,
a.primary:not(.td-button-disabled)
  .td-button-container:hover[_nghost-ng-c2234192906],
.td-button-container:hover [_nghost-ng-c2234192906] {
  box-shadow: 0 3px 26px #02dac966;
}

a.primary[_ngcontent-ng-c2234192906]:not(.td-button-disabled):active {
  background-color: #0e797a;
}

a.secondary[_ngcontent-ng-c2234192906] {
  border-color: #02dac9;
  background: transparent;
  color: #02dac9;
}

a.secondary[_ngcontent-ng-c2234192906]:not(.td-button-disabled):hover,
a.secondary[_ngcontent-ng-c2234192906]:not(.td-button-disabled).container-hover,
a.secondary:not(.td-button-disabled)
  .td-button-container:hover[_nghost-ng-c2234192906],
.td-button-container:hover [_nghost-ng-c2234192906] {
  background-color: #02dac9;
  color: #1a182a;
}

/* menu panel */

[_nghost-ng-c2400633880] {
  position: absolute;
  top: 80px;
}

.mp-root[_ngcontent-ng-c2400633880] {
  width: 100%;
  border-top: 1px solid #232135;
  box-shadow: 0 8px 30px #0e0d1794;
  padding-left: 186px;
  display: flex;
  flex-direction: row;
}

.mp-column[_ngcontent-ng-c2400633880] {
  padding: 32px 40px;
}

.mp-column[_ngcontent-ng-c2400633880]:not(:first-child) {
  border-left: 1px solid #2d2a46;
}

.mp-column[_ngcontent-ng-c2400633880] ul[_ngcontent-ng-c2400633880],
.mp-column[_ngcontent-ng-c2400633880] li[_ngcontent-ng-c2400633880],
.mp-column[_ngcontent-ng-c2400633880] dl[_ngcontent-ng-c2400633880] {
  list-style: none;
}

.mp-column[_ngcontent-ng-c2400633880] ul[_ngcontent-ng-c2400633880],
.mp-column[_ngcontent-ng-c2400633880] dl[_ngcontent-ng-c2400633880] {
  margin: 32px 0;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-columns: 280px;
  gap: 32px;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]:nth-of-type(n + 1) {
  grid-column: 1;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]:nth-of-type(n + 5) {
  grid-column: 2;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]:nth-of-type(n + 9) {
  grid-column: 3;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]
  h4[_ngcontent-ng-c2400633880] {
  font-weight: 400;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]
  .mp-coming-soon[_ngcontent-ng-c2400633880] {
  cursor: default;
}

.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]
  .mp-coming-soon[_ngcontent-ng-c2400633880]
  h4[_ngcontent-ng-c2400633880]
  span[_ngcontent-ng-c2400633880],
.mp-column[_ngcontent-ng-c2400633880]
  li[_ngcontent-ng-c2400633880]
  .mp-coming-soon[_ngcontent-ng-c2400633880]
  p[_ngcontent-ng-c2400633880] {
  opacity: 0.5;
}

.mp-column-title[_ngcontent-ng-c2400633880] {
  color: #fff;
  padding-bottom: 8px;
  border-bottom: 1px solid #2d2a46;
  font-weight: 400;
}

.mp-list-column-item-name[_ngcontent-ng-c2400633880] {
  color: #fff;
}

.mp-list-column-description[_ngcontent-ng-c2400633880] {
  color: #958fa8;
  margin-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mp-coming-soon[_ngcontent-ng-c2400633880],
a[_ngcontent-ng-c2400633880] {
  color: #fff;
}

.mp-coming-soon[_ngcontent-ng-c2400633880]
  .tb-external-link-icon[_ngcontent-ng-c2400633880],
a[_ngcontent-ng-c2400633880] .tb-external-link-icon[_ngcontent-ng-c2400633880] {
  margin-left: 4px;
  margin-right: -24px;
  margin-bottom: -4px;
  font-size: 20px;
  visibility: hidden;
}

.mp-coming-soon[_ngcontent-ng-c2400633880]
  .tb-external-link-icon[_ngcontent-ng-c2400633880]
  path[_ngcontent-ng-c2400633880],
a[_ngcontent-ng-c2400633880]
  .tb-external-link-icon[_ngcontent-ng-c2400633880]
  path[_ngcontent-ng-c2400633880] {
  fill: #02dac9;
}

a[_ngcontent-ng-c2400633880]:hover
  .mp-list-column-item-name[_ngcontent-ng-c2400633880],
a[_ngcontent-ng-c2400633880]:focus
  .mp-list-column-item-name[_ngcontent-ng-c2400633880] {
  color: #02dac9;
  text-decoration: underline;
}

a[_ngcontent-ng-c2400633880]:hover
  .tb-external-link-icon[_ngcontent-ng-c2400633880],
a[_ngcontent-ng-c2400633880]:focus
  .tb-external-link-icon[_ngcontent-ng-c2400633880] {
  visibility: visible;
}
