.nav-container {
  display: block;
  position: sticky;
  top: var(--main-offset);
  height: calc(100vh - var(--main-offset));
  flex: 0 0 var(--nav-width);
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  .panels {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;

    &::before {
      content: "";
      position: sticky;
      top: 0;
      box-shadow: 0 0 0.5rem 0.5rem var(--body-background);
      z-index: 1;
    }
  }
}

.nav-search {
  border-bottom: 1px solid var(--panel-border-color);
  padding-bottom: 1rem;
}

.nav-list {
  list-style: none;
}

.nav-item {
  color: var(--color-white);
  font-weight: var(--font-weight-regular);

  & &:not(.is-active) .nav-list {
    display: none;
  }

  &:not(:hover) > * > .nav-link .nav-external-link-icon {
    opacity: 0;
  }

  &.is-active > * > .nav-text-toggle-button {
    transform: rotate(90deg);
  }

  &.is-current-page > * {
    > .nav-text {
      color: var(--color-green);
      font-weight: var(--font-weight-bold);
    }

    > .nav-text-toggle-button {
      color: var(--color-green);
    }
  }

  &.is-current-path > * > .nav-text {
    font-weight: var(--font-weight-bold);
  }

  .nav-item.is-current-page,
  .nav-item.is-current-path:not(.is-active) {
    &:not(.nav-item-expandable) > .nav-text-container::before {
      background: var(--color-green);
    }
  }

  &[data-depth="0"] {
    padding-top: 1rem;

    & + & {
      margin-top: 1rem;
      border-top: 1px solid var(--panel-border-color);
    }

    > .nav-text-container {
      font-size: var(--font-size-p1);
      margin-bottom: 0.5rem;
    }
  }

  &[data-depth="1"] > .nav-list {
    padding-left: 1.25rem;
  }

  &[data-depth="2"] {
    > * > .nav-text {
      padding-left: 12px;
    }

    > .nav-text-container::before {
      background: var(--panel-border-color);
    }
  }

  &[data-depth="1"],
  &[data-depth="2"] {
    > .nav-text-container::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 2px;
    }
  }
}

.nav-text-container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-text-toggle-button {
  position: absolute;
  width: 28px;
  height: 28px;
  padding: 4px;
  margin: -4px;
  background: none;
  border: none;
}

.nav-text {
  width: 100%;
  padding: 8px 24px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

p.nav-text {
  padding: 8px 10px;
  font-weight: var(--font-weight-bold);
}

.nav-text-toggle {
  background: none;
  border: none;
  text-align: left;
}

.nav-link {
  aside &,
  aside &:visited {
    color: inherit;
  }
}

.nav-link:hover {
  text-decoration: none;
}

.nav-external-link-icon {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}

a.nav-text:hover,
button.nav-text:hover,
.nav-item.is-current-page > * > .nav-text,
.nav-item.is-current-path:not(.is-active) > * > .nav-text {
  background: var(--color-purple);
}
