.nav-container {
  display: var(--hide-mobile, block);
  position: sticky;
  top: var(--main-offset);
  max-height: calc(100vh - var(--main-offset));
  flex: 0 0 calc(248 / var(--rem-base) * 1rem);
  z-index: 2;
  overflow-y: auto;
}

.nav .panels {
  display: flex;
  flex-direction: column;
}

.nav-panel-explore {
  position: relative;
  color: var(--color-white);
  line-height: 1.25;
}

.nav-panel-explore .context-container {
  border-radius: var(--border-radius);
  border: 1px solid var(--panel-border-color);
  background: var(--color-purple);
  display: flex;
  cursor: pointer;
}

.nav-panel-explore .context {
  flex-grow: 1;
  font-weight: var(--font-weight-semi-bold);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.nav-panel-explore .context-divider {
  flex-shrink: 0;
  width: 1px;
  background: var(--panel-border-color);
}

.nav-panel-explore .context-arrow {
  flex-shrink: 0;
  margin: 14px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><path d="M12 12.9821L16.6669 8.39999L18 9.70892L12 15.6L6 9.70892L7.33312 8.39999L12 12.9821Z"/></svg>');
}

.nav-panel-explore.is-active .context-arrow {
  transform: rotate(180deg);
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .components {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 1;

  background: var(--color-secondary-purple);
  border: 1px solid var(--color-light-purple);
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 30px 0px rgba(6, 4, 20, 0.58);
  list-style: none;
  overscroll-behavior: none;
}

.nav-panel-explore .component {
  padding: 0.5rem 0.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-panel-explore .component.is-current {
  background: var(--panel-border-color);
}

.nav-panel-explore .component .title {
  position: absolute;
  inset: 0;
  padding: 0.5rem 0.875rem;
}

.nav-panel-explore a {
  color: inherit;
}

.nav-panel-explore .versions {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  line-height: 1;
  margin-top: 4px;
}

.nav-panel-explore .component .version a {
  display: block;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius);
  white-space: nowrap;
  padding: 0.125rem 0.25rem;
  color: var(--color-dark-white);
}

.nav-panel-explore .component .version.is-current a {
  color: var(--color-green);
  border-color: currentColor;
  font-weight: var(--font-weight-semi-bold);
}

.nav-list {
  list-style: none;
}

.nav-item {
  color: var(--color-white);
  font-weight: var(--font-weight-regular);
}

.nav-item[data-depth="0"] {
  margin-top: 1rem;
  border-top: 1px solid var(--panel-border-color);
  padding-top: 1rem;
}

.nav-item .nav-item:not(.is-active) .nav-list {
  display: none;
}

.nav-item.is-active > * > .nav-text-toggle-button {
  transform: rotate(90deg);
}

.nav-text-container {
  position: relative;
  display: flex;
  align-items: center;
}

.nav-text-toggle-button {
  position: absolute;
  width: 28px;
  height: 28px;
  padding: 4px;
  margin: -4px;
  background: none;
  border: none;
}

.nav-text {
  width: 100%;
  padding: 8px 24px;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

p.nav-text {
  padding: 8px 14px;
  font-weight: var(--font-weight-bold);
}

.nav-text-toggle {
  background: none;
  border: none;
  text-align: left;
}

.nav-link {
  color: inherit;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-external-link-icon {
  flex-shrink: 0;
  height: 20px;
  width: 20px;
}

.nav-item:not(:hover) > * > .nav-link .nav-external-link-icon {
  opacity: 0;
}

a.nav-text:hover,
button.nav-text:hover,
.nav-item.is-current-page > * > .nav-text,
.nav-item.is-current-path:not(.is-active) > * > .nav-text {
  background: var(--color-purple);
}

.nav-item.is-current-page > * > .nav-text {
  color: var(--color-green);
  font-weight: var(--font-weight-bold);
}

.nav-item.is-current-path > * > .nav-text {
  font-weight: var(--font-weight-bold);
}

.nav-item[data-depth="1"] > .nav-list {
  padding-left: 1.25rem;
}

.nav-item[data-depth="2"] > * > .nav-text {
  padding-left: 12px;
}

.nav-item[data-depth="1"] > .nav-text-container::before,
.nav-item[data-depth="2"] > .nav-text-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}

.nav-item[data-depth="2"] > .nav-text-container::before {
  background: var(--panel-border-color);
}

.nav-item.is-current-page > .nav-text-container::before,
.nav-item.is-current-path:not(.is-active) > .nav-text-container::before {
  background: var(--color-green);
}
