@use "media";
@use "mixins" as *;

@media (max-width: media.$max-width-mobile) {
    html.is-clipped--navbar {
        overflow-y: hidden;
    }
}

.nav-container {
    display: block;
    position: sticky;
    top: var(--main-offset);
    height: calc(100vh - var(--main-offset));
    flex: 0 0 var(--nav-width);
    z-index: 2;

    @media (max-width: media.$max-width-mobile) {
        height: auto;
        flex-basis: auto;
        box-shadow: 0px calc(var(--body-padding) / -2) var(--body-padding) calc(var(--body-padding) * 3 / 2)
            var(--body-background);
        background: var(--body-background);
    }
}

.nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: inherit;
    font-weight: inherit;

    .panels-container {
        position: relative;

        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .panels {
        display: flex;
        flex-direction: column;
        overflow: hidden auto;

        &::before {
            content: "";
            position: sticky;
            top: 0;
            box-shadow: 0 0 0.5rem 0.5rem var(--body-background);
            z-index: 1;
        }
    }

    @media (max-width: media.$max-width-mobile) {
        &:not(.nav-opened) .panels {
            display: none;
        }

        .panels {
            position: fixed;
            inset: calc(var(--main-offset) + var(--search-height)) 0 0;
            padding: 0 var(--body-padding);
            background: var(--body-background);
            z-index: 2;
        }
    }
}

.nav-toggle-button {
    display: none;

    appearance: none;
    outline: none;
    padding: 0;

    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: var(--color-purple);
    border: 1px solid var(--color-light-purple);
    border-radius: var(--border-radius);
    height: var(--search-height);
    width: var(--search-height);
    cursor: pointer;

    &::after {
        content: "";
        width: 24px;
        height: 24px;

        .nav.nav-opened & {
            @include url-icon(url("icons/close.svg"), var(--color-white));
        }

        .nav:not(.nav-opened) & {
            @include url-icon(url("icons/function.svg"), var(--color-white));
        }
    }

    @media (max-width: media.$max-width-mobile) {
        display: flex;
    }
}

.nav-search {
    border-bottom: 1px solid var(--panel-border-color);
    padding-bottom: 1rem;

    @media (max-width: media.$max-width-mobile) {
        display: flex;
        gap: 0.5em;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.nav-list {
    list-style: none;
    margin-bottom: 0.5rem;
}

.nav-item {
    color: var(--color-white);
    font-weight: var(--font-weight-light);

    & &:not(.is-active) .nav-list {
        display: none;
    }

    &:not(:hover) > * > .nav-link svg {
        opacity: 0;
    }

    &:not(.is-active) > * > .nav-text-toggle-button {
        transform: rotate(-90deg);
    }

    &.is-current-page > * {
        > .nav-text {
            color: var(--color-green);
        }

        > .nav-text-toggle-button {
            color: var(--color-green);
        }
    }

    &.is-current-path > * > .nav-text {
        //font-weight: var(--font-weight-bold);
    }

    .nav-item.is-current-page,
    .nav-item.is-current-path:not(.is-active) {
        &:not(.nav-item-expandable) > .nav-text-container::before {
            background: var(--color-green);
        }
    }

    &[data-depth="0"] {
        padding-top: 1rem;

        & + & {
            margin-top: 1rem;
            border-top: 1px solid var(--panel-border-color);
        }

        > .nav-text-container {
            font-size: var(--font-size-p1);
            margin-bottom: 0.5rem;
        }
    }

    &[data-depth="1"] > .nav-list {
        padding-left: 26px;
    }

    &[data-depth="2"] {
        > * > .nav-text {
            padding-left: 15px;
            font-weight: var(--font-weight-light);
            color: var(--body-font-color);
        }

        > .nav-text-container::before {
            background: var(--color-black-purple);
        }
    }

    &[data-depth="1"],
    &[data-depth="2"] {
        > .nav-text-container::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 2px;
        }
    }
}

.nav-text-container {
    position: relative;
    display: flex;
    align-items: center;
}

.nav-text-toggle-button {
    position: absolute;
    width: 28px;
    height: 28px;
    padding: 4px;
    margin: -4px;
    background: none;
    border: none;
    color: var(--body-font-color);

    @media(max-width: media.$max-width-mobile) {
        width: 24px;
        height: 24px;
    }
}

.nav-text {
    width: 100%;
    padding: 6px 24px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

p.nav-text {
    padding: 8px 10px 8px 24px;
    font-weight: var(--font-weight-bold);
}

.nav-text-toggle {
    background: none;
    border: none;
    text-align: left;
}

.nav-link {
    aside &,
    aside &:visited {
        color: inherit;
    }
}

.nav-link:hover {
    text-decoration: none;
}

.nav-link svg {
    flex-shrink: 0;
    height: 20px;
    width: 20px;
}

a.nav-text:hover,
button.nav-text:hover,
.nav-item.is-current-page > * > .nav-text,
.nav-item.is-current-path:not(.is-active) > * > .nav-text {
    background: var(--color-purple);
}

.nav-panel-explore {
    position: relative;
    color: var(--body-font-color);
    line-height: 1.25;
    font-weight: var(--font-weight-light);
    font-size: 15px;
    pointer-events: all;
    margin-bottom: 1rem;

    @media (max-width: media.$max-width-mobile) {
        margin-top: 1rem;
    }

    .context-container {
        border-radius: var(--border-radius);
        border: 1px solid var(--panel-border-color);
        //background: var(--color-purple);
        display: flex;
        cursor: pointer;
    }

    .context {
        flex-grow: 1;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    .context-divider {
        flex-shrink: 0;
        width: 1px;
        background: var(--panel-border-color);
    }

    .context-arrow {
        flex-shrink: 0;
        margin: 14px;
        width: 20px;
        height: 20px;
        background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M12 12.9821L16.6669 8.39999L18 9.70892L12 15.6L6 9.70892L7.33312 8.39999L12 12.9821Z"/></svg>');
    }

    &.is-active .context-arrow {
        transform: rotate(180deg);
    }

    &:not(.is-active) .components {
        display: none;
    }

    .components {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 0.25rem;
        z-index: 1;
        padding: 0;

        background: var(--color-secondary-purple);
        border: 1px solid var(--color-light-purple);
        border-radius: var(--border-radius);
        box-shadow: 0px 8px 30px 0px rgba(6, 4, 20, 0.58);
        list-style: none;
        overscroll-behavior: none;
    }

    .component {
        padding: 0.5rem 0.875rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &.is-current {
            background: var(--panel-border-color);
        }

        .title {
            position: absolute;
            inset: 0;
            padding: 0.5rem 0.875rem;
        }

        .version {
            a {
                display: block;
                border: 1px solid var(--color-dark-white);
                border-radius: var(--border-radius);
                white-space: nowrap;
                padding: 0.125rem 0.25rem;
                color: var(--color-dark-white);
            }

            &.is-current a {
                color: var(--color-green);
                border-color: currentColor;
                font-weight: var(--font-weight-semi-bold);
            }
        }
    }

    .versions {
        position: relative;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        line-height: 1;
        margin-top: 4px;
    }
}