.nav-container {
  display: var(--hide-mobile, block);
  position: sticky;
  top: var(--main-offset);
  flex: 0 0 calc(244 / var(--rem-base) * 1rem);
  max-height: var(--main-viewport-height);

  overflow-y: auto;
}

.nav .panels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-separator {
  margin: 0;
  border: none;
  height: 1px;
  background: var(--panel-border-color);
}

.nav-panel-explore {
  position: relative;
  color: var(--color-white);
  line-height: 1.25;
}

.nav-panel-explore .context-container {
  border-radius: var(--border-radius);
  border: 1px solid var(--panel-border-color);
  background: var(--color-secondary-purple);
  display: flex;
  cursor: pointer;
}

.nav-panel-explore .context {
  flex-grow: 1;
  font-weight: var(--font-weight-semi-bold);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.nav-panel-explore .context-divider {
  flex-shrink: 0;
  width: 1px;
  background: var(--panel-border-color);
}

.nav-panel-explore .context-arrow {
  flex-shrink: 0;
  margin: 14px;
  width: 20px;
  height: 20px;
  background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg"><path d="M12 12.9821L16.6669 8.39999L18 9.70892L12 15.6L6 9.70892L7.33312 8.39999L12 12.9821Z"/></svg>');
}

.nav-panel-explore.is-active .context-arrow {
  transform: rotate(180deg);
}

.nav-panel-explore:not(.is-active) .components {
  display: none;
}

.nav-panel-explore .components {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 1;

  background: var(--color-secondary-purple);
  border: 1px solid var(--color-light-purple);
  border-radius: var(--border-radius);
  box-shadow: 0px 8px 30px 0px rgba(6, 4, 20, 0.58);
  list-style: none;
  overscroll-behavior: none;
}

.nav-panel-explore .component {
  padding: 0.5rem 0.875rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-panel-explore .component.is-current {
  background: var(--panel-border-color);
}

.nav-panel-explore .component .title {
  position: absolute;
  inset: 0;
  padding: 0.5rem 0.875rem;
}

.nav-panel-explore a {
  color: inherit;
}

.nav-panel-explore .versions {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  line-height: 1;
  margin-top: 4px;
}

.nav-panel-explore .component .version a {
  display: block;
  border: 1px solid var(--color-dark-white);
  border-radius: var(--border-radius);
  white-space: nowrap;
  padding: 0.125rem 0.25rem;
  color: var(--color-dark-white);
}

.nav-panel-explore .component .version.is-current a {
  color: var(--color-green);
  border-color: currentColor;
  font-weight: var(--body-font-weight-bold);
}

.nav-list {
  list-style: none;
}

.nav-item {
  color: var(--color-white);
}

.nav-item .nav-item:not(.is-active) > .nav-list {
  display: none;
}

.nav-link {
  position: relative;
  display: block;
  color: inherit;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link-active-indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--color-green);
}

.nav-text {
  width: 100%;
  border-radius: var(--border-radius);
  border: none;
  background: none;

  padding: 0.5rem 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  border-radius: var(--border-radius);

  font-size: 1rem;
  line-height: 1.5;
}

p.nav-text {
  cursor: default;
}

.nav-link .nav-text,
button.nav-text {
  cursor: pointer;
}

.nav-text:hover,
.nav-item.is-current-page .nav-text {
  background: var(--color-purple);
}

.nav-text-toggle-icon {
  flex-shrink: 0;
  height: 1.25rem;
  width: 1.25rem;
  color: var(--color-dark-white);
}

.nav-item.is-active > .nav-text .nav-text-toggle-icon {
  transform: rotate(180deg);
}

.nav-item.is-current-page .nav-text,
.nav-item.is-current-path > .nav-text {
  font-weight: var(--font-weight-semi-bold);
}

.nav-item[data-depth="1"] > .nav-list {
  padding-left: 1.25rem;
}

.nav-item[data-depth="2"] {
  border-left: 1px solid var(--color-light-purple);
}

.nav-item[data-depth="2"].is-current-page {
  color: var(--color-green);
}

.nav-item[data-depth="2"] .nav-link-active-indicator {
  width: 0.125rem;
}
