.search {
  width: 100%;
  position: fixed;
  top: 120px;
}
.search-input {
  width: 100%;
  font-size: calc(15 / var(--rem-base) * 1rem);
  color: var(--color-white);
  font-weight: var(--body-font-weight-bold);
  background: var(--color-purple);
  padding: 14px;
  line-height: 1;
  height: var(--drawer-height);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-purple);
}
