.search {
  position: sticky;
  top: var(--search-offset);
  z-index: 1;

  box-shadow: 0 calc(var(--main-padding) / -2) calc(var(--main-gap) / 2)
    calc(var(--main-gap) / 2 + var(--main-padding) / 2) var(--body-background);

  height: var(--search-height);
  flex-basis: 100%;

  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-purple);
  background: var(--color-purple);
  cursor: text;

  padding: 0 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;

  transition: border 100ms;
  font-size: 1rem;
  line-height: 1.5;
}

.search:focus-within,
.search:hover {
  border-color: var(--color-secondary-grey);
}

.search svg {
  color: var(--color-white);
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.search input {
  border: none;
  background: none;
  box-shadow: none;
  outline: none;
  flex-grow: 1;
}

.search input::placeholder {
  color: var(--color-secondary-light-grey);
  font-style: italic;
}
