.search {
  position: sticky;
  top: 0;
  z-index: 1;

  height: var(--search-height);

  border-radius: var(--border-radius);
  border: 1px solid var(--color-light-purple);
  background: var(--color-purple);
  cursor: text;

  padding: 0 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;

  transition: border 100ms;
  font-size: 1rem;
  line-height: 1.5;

  &:focus-within,
  &:hover {
    border-color: var(--color-secondary-grey);
  }

  svg {
    color: var(--color-white);
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  input {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    flex-grow: 1;

    &::placeholder {
      color: var(--color-secondary-light-grey);
      font-style: italic;
    }
  }
}

.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  left: -1px;
  width: var(--search-result-width);
  max-width: calc(100vw - var(--body-padding) * 2);
  top: 100%;
  margin-top: 0.5rem;
}

.search-result-dataset {
  position: relative;
  border: 1px solid var(--panel-border-color);
  background: var(--color-deep-purple-50);
  border-radius: var(--border-radius);
  overflow: auto;
  overscroll-behavior: none;
  padding: 1rem;
  max-height: calc(100vh - var(--main-offset) - var(--search-height) - 1rem);
  box-shadow: 0 4px 8px 4px var(--color-black-50);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.search-result-item {
  display: flex;

  &:nth-child(n + 2) {
    margin-top: 0.5rem;
  }
}

.search-result-component-header {
  color: var(--color-white);
  border-bottom: 1px solid var(--panel-border-color);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid var(--panel-border-color);
  color: var(--color-white);
  font-weight: 600;
  font-size: 0.875rem;
  padding: 1rem 1rem 1rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
}

.search-result-document-hit {
  flex: 1;
  font-size: 0.875rem;
  color: var(--body-font-color);

  > a {
    color: inherit;
    display: block;
    padding: 1rem 0.25rem 1rem 1rem;

    &:hover {
      background: var(--color-light-purple-50);
      text-decoration: inherit;
    }
  }

  .search-result-highlight {
    background: var(--search-highlight-color);
    padding: 0 0.1em;
    font-weight: 600;
  }

  .search-result-section-title {
    color: var(--body-font-color);
    font-weight: 600;
    font-size: 1.05em;
    margin-bottom: 0.25em;
  }
}
