@use "media";
@use "media_docs";

.toc {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;

    &.embedded {
        display: none;

        @media (max-width: media.$max-width-tablet) {
            display: block;
            position: relative;
            margin: 1rem 0;
            padding: 0.75rem;
            border-radius: var(--border-radius);
            color: var(--color-white);
            background: var(--color-deep-purple);

            @media (max-width: media.$max-width-mobile) {
                padding: 0.5rem;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: var(--color-green);
            }
        }

        .toc-menu {
            padding-left: var(--doc-padding-sides);
        }
    }

    &.sidebar {
        display: block;
        position: sticky;
        margin-left: calc(0px - var(--doc-tooltip-width));
        padding-left: var(--doc-tooltip-width);
        padding-top: 12px;
        padding-bottom: 0.5rem;
        top: var(--toolbar-height);
        flex: 0 0 calc(var(--toc-width) + var(--doc-tooltip-width));
        max-height: calc(100vh - var(--toolbar-height));
        overflow-y: auto;

        @media (max-width: media.$max-width-tablet) {
            display: none;
        }
    }

    .toc-menu {
        pointer-events: all;
    }

    .no-toc {
        display: none;
    }

    .toc-menu h3 {
        font-size: var(--font-size-aside);
        line-height: var(--line-height-aside);
        font-weight: var(--font-weight-semi-bold);
        margin: 0;
        padding: 0.25rem 0 0.25rem 0.75rem;
    }

    .toc-menu ul {
        font-size: var(--font-size-aside);
        line-height: var(--toc-line-height);
        list-style: none;
        margin: 10px 0 0;
        padding: 0;
        letter-spacing: var(--body-letter-spacing);
    }

    &.sidebar .toc-menu ul {
        overflow-y: auto;
        overscroll-behavior: none;

        @supports (scrollbar-width: none) {
            scrollbar-width: none;
        }
    }

    .toc-menu ul::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .toc-menu li {
        margin: 0;
    }

    .toc-menu li[data-level="2"] a {
        padding-left: 1.25rem;
    }

    .toc-menu li[data-level="3"] a {
        padding-left: 2rem;
    }

    .toc-menu a {
        color: inherit;
        display: inline-block;
        padding: 0.25rem 0 0.25rem 0.75rem;
        text-decoration: none;

        @media (min-width: media.$min-width-tablet) {
            border-left: 2px solid var(--color-light-purple);
        }
    }

    &.sidebar .toc-menu a {
        display: block;
        outline: none;
    }

    .toc-menu a:hover {
        color: var(--link-font-color);
    }

    .toc-menu a.is-active {
        border-left-color: var(--link-font-color);
        color: var(--link-font-color);
    }

    &.sidebar .toc-menu a:focus {
        background: var(--panel-background);
    }

    .toc-menu .is-hidden-toc {
        display: none !important;
    }

    .toc-links {
        margin-left: calc(0.5rem + 2px);
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--panel-border-color);
        pointer-events: all;
        line-height: var(--toc-line-height);
    }

    .toc-links ul {
        list-style: none;
    }

    .toc-links a {
        letter-spacing: var(--body-letter-spacing);
        margin-top: 10px;
        padding-left: 30px;
        color: inherit;
        text-decoration: none;
    }

    .toc-links a:hover {
        color: var(--link-font-color);
    }

    .toc-links .toc-academy {
        pointer-events: all;
        letter-spacing: var(--body-letter-spacing);
        padding: 4px 0;
        a {
            padding: 0;
        }
        a svg {
            text-decoration: none;
            height: 17px;
            margin-bottom: -3px;
        }
        .toc-link-button-academy {
            color: var(--link-font-color);
        }
    }
}

.toc-link-button {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 2px 2px 0px 2px;
    margin: 0px 0px -10px;
    background: none;
    border: none;
}

.toc-link-container {
    position: relative;
    padding: 4px 0 3px;

    & .toc-link-tooltip {
        visibility: hidden;
        width: calc(var(--doc-tooltip-width) - 9px);
        position: absolute;
        z-index: 1;
        bottom: 0px;
        right: 100%;
        margin-right: 9px;
        padding: 4px 9px 6px;
        font-size: var(--font-size-code);
        font-style: italic;
        color: inherit;
        background-color: var(--panel-background);
        border-radius: var(--border-radius);
        border: 1px solid var(--panel-border-color);
        line-height: 18px;
    }

    &:hover .toc-link-tooltip {
        visibility: visible;
    }
}
