@use "colors";
@use "media";

.toolbar-area {
    width: 100%;
    background: var(--color-black-purple);
    position: fixed;
    top: calc(var(--topbar-height) + var(--banner-height));
    z-index: 50;
    border-bottom: 1px solid var(--color-light-purple);
}

.toolbar {
    display: flex;
    align-items: center;
    gap: var(--body-gap);
    margin: 0 auto;
    padding: 12px var(--body-padding-sides);
    max-width: var(--body-width);

    @media (max-width: media.$max-width-mobile) {
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .nav-item {
        width: var(--nav-width);
        font-size: inherit;

        @media (max-width: media.$max-width-mobile) {
            width: 170px;
        }

        .nav-link:hover {
            background: var(--color-deep-purple);
        }

        .nav-link svg {
            width: 16px;
            height: 16px;
            color: var(--color-secondary-pink);
        }

        span {
            display: inline-flex;
            gap: 8px;
            align-items: center;
        }

        .nav-text {
            color: var(--color-white);
            font-weight: var(--font-weight-light);
            padding-left: 4px;

            @media (max-width: media.$max-width-mobile) {
                padding: 6px 4px;
            }
        }
    }

    .toolbar-search {
        width: 570px;
        padding: 0 var(--doc-padding-sides);

        @media (max-width: media.$max-width-tablet) {
            width: 100%;
            padding: 0;
        }

        @media (max-width: media.$max-width-mobile) {
            display: flex;
            gap: 0.5em;
        }
    }
}
