:root {
  /* colors */
  --color-white: #ffffff;
  --color-dark-white: #e1dfed;
  --color-light-purple: #2d2a46;
  --color-purple: #1a182a;
  --color-deep-purple: #151322;
  --color-black-purple: #0e0d17;
  --color-green: #02dac9;
  --color-red: #e96464;
  --color-secondary-light-grey: #958fa8;
  --color-secondary-grey: #63607c;
  --color-secondary-purple: #232135;
  --color-secondary-yellow: #ffe49e;
  --color-secondary-pink: #ff87dc;
  --color-secondary-blue: #7ba0ff;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-light-purple-50: rgba(45, 42, 70, 0.5);
  --color-deep-purple-50: rgba(21, 19, 34, 0.5);
  --color-green-15: rgba(2, 218, 201, 0.15);
  --color-red-15: rgba(233, 99, 99, 0.15);
  --color-secondary-yellow-15: rgba(255, 228, 158, 0.15);
  --color-secondary-blue-15: rgba(123, 160, 255, 0.15);

  /* fonts */
  --rem-base: 17; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */

    /* todo: refactor into rem units? */
    --font-size-h1: 41px;
    --line-height-h1: calc(49px / var(--font-size-h1));
    --font-size-h1-mobile: 31px;
    --line-height-h1-mobile: calc(39px / var(--font-size-h1-mobile));

    --font-size-h2: 33px;
    --line-height-h2: calc(41px / var(--font-size-h2));
    --font-size-h2-mobile: 25px;
    --line-height-h2-mobile: calc(33px / var(--font-size-h2-mobile));

    --font-size-h3: 25px;
    --line-height-h3: calc(33px / var(--font-size-h3));
    --font-size-h3-mobile: 19px;
    --line-height-h3-mobile: calc(27px / var(--font-size-h3-mobile));

    --font-size-h4: 21px;
    --line-height-h4: calc(29px / var(--font-size-h4));
    --font-size-h4-mobile: 17px;
    --line-height-h4-mobile: calc(25px / var(--font-size-h4-mobile));

    --font-size-h5: 19px;
    --line-height-h5: calc(27px / var(--font-size-h5));
    --font-size-h5-mobile: 17px;
    --line-height-h5-mobile: calc(25px / var(--font-size-h5-mobile));

    --font-size-h6: 17px;
    --line-height-h6: calc(25px / var(--font-size-h6));
    --font-size-h6-mobile: 15px;
    --line-height-h6-mobile: calc(23px / var(--font-size-h6-mobile));

    /* TODO: rename p2 to p1 once the codebase is cleaner */

    --font-size-p2: 17px;
    --line-height-p2: calc(25px / var(--font-size-p2));
    --font-size-p2-mobile: 15px;
    --line-height-p2-mobile: calc(23px / var(--font-size-p2-mobile));

    --font-size-aside: 15px;
    --line-height-aside: calc(23px / var(--font-size-aside));
    --font-size-aside-mobile: 13px;
    --line-height-aside-mobile: calc(21px / var(--font-size-aside-mobile));

    --font-size-code: 14px;
    --line-height-code: calc(21px / var(--font-size-code));

  --font-weight-light: 200;
  --font-weight-semi-bold: 400;
  --font-weight-bold: 600;

  --body-font-size: var(--font-size-p2); /* 16px */
  --body-line-height: 1.5;
  --body-font-color: var(--color-dark-white);
  --body-font-family: "Titillium Web", sans-serif;
  --monospace-font-family: "Monaco", monospace;
  --monospace-font-weight-bold: 700;
  /* base */
  --body-background: var(--color-black-purple);
  --panel-background: var(--color-deep-purple);
  --panel-border-color: var(--color-light-purple);
  --border-radius: calc(5 / var(--rem-base) * 1rem); /* 5px */
  --header-height: 80px;
  --main-padding: calc(40 / var(--rem-base) * 1rem);
  --main-gap: 1rem;
  --search-height: calc(50 / var(--rem-base) * 1rem);
  --main-offset: calc(var(--header-height) + var(--main-padding));
  --content-offset: calc(
    var(--main-offset) + var(--search-height) + var(--main-gap)
  );
  /* admonitions */
  --important-color: var(--color-secondary-yellow);
  --important-background: var(--color-secondary-yellow-15);
  --note-color: var(--color-secondary-blue);
  --note-background: var(--color-secondary-blue-15);
  --tip-color: var(--color-green);
  --tip-background: var(--color-green-15);
  --warning-color: var(--color-red);
  --warning-background: var(--color-red-15);
  /* doc */
  --doc-background: var(--color-purple);
  --doc-font-size: var(--font-size-p2);
  --doc-line-height: var(--line-height-p2);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-green);
  --link_hover-font-color: var(--color-green);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-black-purple);
  --abstract-font-color: var(--color-dark-white);
  --abstract-border-color: var(--panel-border-color);
  --caption-font-color: var(--color-secondary-light-grey);
  --caption-font-style: italic;
  --caption-font-weight: var(--font-weight-semi-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--color-secondary-pink);
  --code-border-color: var(--color-light-purple);
  --example-background: var(--panel-background);
  --example-border-color: var(--color-secondary-grey);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-dark-white);
  --pre-background: var(--color-black-purple);
  --pre-border-color: var(--panel-border-color);
  --quote-background: var(--color-black-purple);
  --quote-border-color: var(--color-secondary-light-grey);
  --quote-font-color: var(--color-dark-white);
  --quote-attribution-font-color: var(--body-font-color);
  --table-border-color: var(--panel-border-color);
  --table-header-background: var(--color-black-purple);
  --table-body-background: var(--color-deep-purple);
  --table-footer-background: var(--panel-background);
  /* toc */
  --toc-width: calc(184 / var(--rem-base) * 1rem);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* search */
  --search-highlight-color: rgba(246, 201, 76, 0.25);
}

@media (max-width: 1199px) {
  :root {
    --hide-tablet: none;
  }
}

@media (max-width: 767px) {
  :root {
    --hide-mobile: none;
  }
}
