@import "colors";

:root {
  /* colors */
  --color-white: #{$color-vaticle-white};
  --color-dark-white: #{$color-vaticle-dark-white};
  --color-light-purple: #{$color-vaticle-light-purple};
  --color-purple: #{$color-vaticle-purple};
  --color-deep-purple: #{$color-vaticle-deep-purple};
  --color-black-purple: #{$color-vaticle-black-purple};
  --color-green: #{$color-vaticle-green};
  --color-red: #{$color-vaticle-red};
  --color-secondary-light-grey: #{$color-vaticle-secondary-light-grey};
  --color-secondary-grey: #{$color-vaticle-secondary-grey};
  --color-secondary-purple: #{$color-vaticle-secondary-purple};
  --color-secondary-yellow: #{$color-vaticle-secondary-yellow};
  --color-secondary-pink: #{$color-vaticle-secondary-pink};
  --color-secondary-blue: #{$color-vaticle-secondary-blue};
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-light-purple-50: #{rgba($color-vaticle-light-purple, 0.5)};
  --color-deep-purple-50: #{rgba($color-vaticle-deep-purple, 0.5)};
  --color-green-15: #{rgba($color-vaticle-green, 0.15)};
  --color-red-15: #{rgba($color-vaticle-red, 0.15)};
  --color-secondary-yellow-15: #{rgba($color-vaticle-secondary-yellow, 0.15)};
  --color-secondary-blue-15: #{rgba($color-vaticle-secondary-blue, 0.15)};

  /* fonts */
  --rem-base: 17; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */

  /* todo: refactor into rem units? */
  --font-size-h1: 41px;
  --line-height-h1: calc(49px / var(--font-size-h1));
  --font-size-h2: 33px;
  --line-height-h2: calc(41px / var(--font-size-h2));
  --font-size-h3: 25px;
  --line-height-h3: calc(33px / var(--font-size-h3));
  --font-size-h4: 21px;
  --line-height-h4: calc(29px / var(--font-size-h4));
  --font-size-h5: 19px;
  --line-height-h5: calc(27px / var(--font-size-h5));
  --font-size-h6: 17px;
  --line-height-h6: calc(25px / var(--font-size-h6));
  --font-size-p1: 21px;
  --line-height-p1: calc(29px / var(--font-size-p2));
  --font-size-p2: 17px;
  --line-height-p2: calc(25px / var(--font-size-p2));
  --font-size-aside: 15px;
  --line-height-aside: calc(23px / var(--font-size-aside));
  --font-size-code: 13px;
  --line-height-code: calc(21px / var(--font-size-code));

  --font-weight-light: 200;
  --font-weight-regular: 300;
  --font-weight-semi-bold: 400;
  --font-weight-bold: 600;

  --body-font-size: var(--font-size-p2); /* 16px */
  --body-line-height: 1.5;
  --body-font-color: var(--color-dark-white);
  --body-font-family: "Titillium Web", sans-serif;
  --monospace-font-family: "Monaco", monospace;
  --monospace-font-weight-bold: 700;
  /* base */
  --body-background: var(--color-black-purple);
  --panel-background: var(--color-deep-purple);
  --panel-border-color: var(--color-light-purple);
  --border-radius: calc(5 / var(--rem-base) * 1rem); /* 5px */
  --header-height: 80px;
  --body-width: calc(1440 / var(--rem-base) * 1rem);
  --body-padding: calc(40 / var(--rem-base) * 1rem);
  --body-gap: 32px;
  --main-offset: calc(var(--header-height) + var(--body-padding) + 1px);
  /* nav */
  --nav-width: calc(248 / var(--rem-base) * 1rem);
  /* admonitions */
  --important-color: var(--color-secondary-yellow);
  --important-background: var(--color-secondary-yellow-15);
  --note-color: var(--color-secondary-blue);
  --note-background: var(--color-secondary-blue-15);
  --tip-color: var(--color-green);
  --tip-background: var(--color-green-15);
  --warning-color: var(--color-red);
  --warning-background: var(--color-red-15);
  /* doc */
  --doc-background: var(--color-purple);
  --doc-font-size: var(--font-size-p2);
  --doc-line-height: var(--line-height-p2);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-green);
  --link_hover-font-color: var(--color-green);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-black-purple);
  --abstract-font-color: var(--color-dark-white);
  --abstract-border-color: var(--panel-border-color);
  --caption-font-color: var(--color-secondary-light-grey);
  --caption-font-style: italic;
  --caption-font-weight: var(--font-weight-semi-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--color-secondary-pink);
  --code-border-color: var(--color-light-purple);
  --example-background: var(--panel-background);
  --example-border-color: var(--color-secondary-grey);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-dark-white);
  --pre-background: var(--color-black-purple);
  --pre-border-color: var(--panel-border-color);
  --quote-background: var(--color-black-purple);
  --quote-border-color: var(--color-secondary-light-grey);
  --quote-font-color: var(--color-dark-white);
  --quote-attribution-font-color: var(--body-font-color);
  --table-border-color: var(--panel-border-color);
  --table-header-background: var(--color-black-purple);
  --table-body-background: var(--color-deep-purple);
  --table-footer-background: var(--panel-background);
  /* toc */
  --toc-width: calc(184 / var(--rem-base) * 1rem);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* search */
  --search-result-width: calc(
    min(var(--body-width), 100vw) - var(--body-padding) * 2 - var(--toc-width) -
      var(--body-gap) - var(--nav-width)
  );
  --search-height: calc(50 / var(--rem-base) * 1rem);
  --search-highlight-color: rgba(246, 201, 76, 0.25);

  @media (max-width: 1199px) {
    --hide-tablet: none;

    --search-result-width: calc(
      min(var(--body-width), 100vw) - var(--body-padding) * 2 - var(--body-gap) -
        var(--nav-width)
    );
  }

  @media (max-width: 767px) {
    --hide-mobile: none;

    --body-font-size: 14px;

    --font-size-h1: 31px;
    --line-height-h1: calc(39px / var(--font-size-h1));

    --font-size-h2: 25px;
    --line-height-h2: calc(33px / var(--font-size-h2));

    --font-size-h3: 19px;
    --line-height-h3: calc(27px / var(--font-size-h3));

    --font-size-h4: 17px;
    --line-height-h4: calc(25px / var(--font-size-h4));

    --font-size-h5: 17px;
    --line-height-h5: calc(25px / var(--font-size-h5));

    --font-size-h6: 15px;
    --line-height-h6: calc(23px / var(--font-size-h6));

    --font-size-p1: 19px;
    --line-height-p1: calc(27px / var(--font-size-p2));

    --font-size-p2: 15px;
    --line-height-p2: calc(23px / var(--font-size-p2));

    --font-size-aside: 13px;
    --line-height-aside: calc(21px / var(--font-size-aside));
  }
}
