:root {
  /* colors */
  --color-white: #ffffff;
  --color-dark-white: #d7d4e5;
  --color-light-purple: #2d2a46;
  --color-purple: #1a182a;
  --color-deep-purple: #151322;
  --color-black-purple: #0e0d17;
  --color-green: #02dac9;
  --color-red: #e96464;
  --color-secondary-light-grey: #958fa8;
  --color-secondary-grey: #63607c;
  --color-secondary-purple: #232135;
  --color-secondary-yellow: #ffe49e;
  --color-secondary-pink: #ff87dc;
  --color-secondary-blue: #7ba0ff;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-light-purple-50: rgba(45, 42, 70, 0.5);
  --color-deep-purple-50: rgba(21, 19, 34, 0.5);
  --color-green-15: rgba(2, 218, 201, 0.15);
  --color-red-15: rgba(233, 99, 99, 0.15);
  --color-secondary-yellow-15: rgba(255, 228, 158, 0.15);
  --color-secondary-blue-15: rgba(123, 160, 255, 0.15);
  /* fonts */
  --rem-base: 16; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --font-weight-semi-bold: 600;
  --body-font-size: 1rem; /* 16px */
  --body-line-height: 1.5;
  --body-font-color: var(--color-dark-white);
  --body-font-family: "Titillium Web", sans-serif;
  --body-font-weight-bold: 700;
  --monospace-font-family: "Ubuntu Mono", monospace;
  --monospace-font-weight-bold: 700;
  /* base */
  --body-background: var(--color-black-purple);
  --panel-background: var(--color-deep-purple);
  --panel-border-color: var(--color-light-purple);
  --border-radius: calc(5 / var(--rem-base) * 1rem); /* 5px */
  --header-height: 80px;
  --main-padding: calc(40 / var(--rem-base) * 1rem);
  --main-gap: 1rem;
  --search-height: calc(48 / var(--rem-base) * 1rem);
  --search-offset: calc(var(--header-height) + var(--main-padding));
  --main-offset: calc(
    var(--search-offset) + var(--search-height) + var(--main-gap)
  );
  --main-viewport-height: calc(100vh - var(--main-offset));
  /* admonitions */
  --important-color: var(--color-secondary-yellow);
  --important-background: var(--color-secondary-yellow-15);
  --note-color: var(--color-secondary-blue);
  --note-background: var(--color-secondary-blue-15);
  --tip-color: var(--color-green);
  --tip-background: var(--color-green-15);
  --warning-color: var(--color-red);
  --warning-background: var(--color-red-15);
  /* doc */
  --doc-background: var(--color-purple);
  --doc-font-size: inherit;
  --doc-font-weight: 300;
  --doc-line-height: 1.5;
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-green);
  --link_hover-font-color: var(--color-green);
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-black-purple);
  --abstract-font-color: var(--color-white);
  --abstract-border-color: var(--panel-border-color);
  --caption-font-color: var(--color-secondary-light-grey);
  --caption-font-style: italic;
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--color-secondary-pink);
  --code-border-color: var(--color-light-purple);
  --example-background: var(--panel-background);
  --example-border-color: var(--color-secondary-grey);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-dark-white);
  --pre-background: var(--color-black-purple);
  --pre-border-color: var(--panel-border-color);
  --quote-background: var(--color-black-purple);
  --quote-border-color: var(--color-secondary-light-grey);
  --quote-font-color: var(--color-white);
  --quote-attribution-font-color: var(--doc-font-color);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: var(--panel-background);
  /* toc */
  --toc-width: calc(184 / var(--rem-base) * 1rem);
  --toc-font-color: var(--doc-font-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* search */
  --search-highlight-color: rgba(246, 201, 76, 0.25);
}

@media (max-width: 1199px) {
  :root {
    --hide-tablet: none;
  }
}

@media (max-width: 767px) {
  :root {
    --hide-mobile: none;
  }
}
