.page-header {
  margin: 40px 0 20px;
  position: relative;

  h1.page-title {
    color: #647380 !important;
    font-size: 30px;
    font-weight: 600;
  }

  .summary {
    color: #8c8d92;
    font-size: 16px;
    margin: 20px 0px 20px 0px;

    &:before {
      color: #f75e62;
      content: "Summary: ";
      font-weight: 600;
      font-size: 18px;
    }
  }
}


// for table of content
ul.toc {
  padding: 0;

  li {
    line-height: 30px;
    font-size: 16px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // ::before {
  //   font-weight: 500;
  //   color: #555;
  //   text-align: center;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 70px;
  //   padding-top: 20px 0 20px 10px;
  // }

  & + .alert {
    margin-top: 35px;
  }
}

// for the button that allows editing the current page on Github
.m-editOnGithub {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  color: #8695a2;
  font-size: 13px;
  padding: 6px 8px;
  position: fixed;
  text-decoration: none;
  z-index: 10001;

  &:visited { color: #8695a2; }
  &:hover {
    color: #55626d;
    text-decoration: none;
  }

  .fa-github {
    margin-right: 2px;
    font-size: 14px;
  }
}