<script src="/js/vendors/prism.js"></script>
<script src="/js/langs/prism-graql.js"></script>
<script src="/js/vendors/marked.js"></script>
<script src="/js/vendors/jquery-3.3.1.min.js"></script>
<script src="/js/vendors//anchor.min.js"></script>

<script src="/js/layout/sidebar.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layout/topbar.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layout/footer.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/parsers/tabs.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/parsers/slideshow.js" type="text/javascript" charset="utf-8"></script>
<script src="/docs/views/colored-panels.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/parsers/alerts.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/parsers/images.js" type="text/javascript" charset="utf-8"></script>
<script src="/docs/views/colored-labels.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/parsers/label.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/syntax.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/util.js" type="text/javascript" charset="utf-8"></script>
<script src="/docs/views/autolink-keywords.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/autoLinkKeywords.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/cookies.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
<!-- 
<script>
    (function () {
        var cx = '014051488609579533831:s_fbokdcxwq';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();

    console.log("loaded")
</script> -->