[submodule "typedb-web"]
	path = typedb-web
	url = git@github.com:typedb/typedb-web.git
[submodule "content_/2.x"]
	path = content_/2.x
	url = git@github.com:typedb/typedb-docs.git
[submodule "content_/3.x"]
	path = content_/3.x
	url = git@github.com:typedb/typedb-docs.git
