[submodule "typedb-web-main"]
	path = typedb-web-main
	url = git@github.com:vaticle/typedb-web-main.git
[submodule "content2x"]
	path = content2
	url = git@github.com:vaticle/typedb-docs.git
	branch = 2.x
[submodule "content3x"]
	path = content3
	url = git@github.com:vaticle/typedb-docs.git
	branch = 3.x
