# jekyll
_site/
.sass-cache/
.jekyll-metadata

## node
node_modules/
package-lock.json

## IDE
.vscode/

## bundle
Gemfile.lock

## misc
.DS_Store


./_data/client_api/query.yml

./_data/client_api/answer.yml

./_data/client_api/iterator.yml

./_data/client_api/client.yml

./_data/client_api/graql.yml

./_data/client_api/session.yml

./_data/client_api/grakn.yml

./_data/client_api/transaction.yml

./_data/concept_api/relationship.yml

./_data/concept_api/concept.yml

./_data/concept_api/relationship_type.yml

./_data/concept_api/thing.yml

./_data/concept_api/role.yml

./_data/concept_api/attribute.yml

./_data/concept_api/entity_type.yml

./_data/concept_api/attribute_type.yml

./_data/concept_api/type.yml

./_data/concept_api/rule.yml
