.hljs {
    &-graql {
        &-type { color: #51909c; }
        &-keyword { color: #938ae8 !important; }
        &-variable { color: #F75E62; }
        &-comment { color: #5b626f; }
        &-roleplayer { color: #65b0ed}
    }
}