.hljs {
    &-graql {
        &-type { color: #4fdcc5; }
        &-keyword { color: #d39eff !important; }
        &-variable { color: #f78e63; }
        &-comment { color: #8690a3; }
        // &-roleplayer { color: #65b0ed}
    }
}