/* PrismJS 1.14.0
http://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+abap+actionscript+ada+apacheconf+apl+applescript+c+arff+asciidoc+asm6502+aspnet+autohotkey+autoit+bash+basic+batch+bison+brainfuck+bro+cpp+csharp+arduino+coffeescript+clojure+ruby+csp+css-extras+d+dart+diff+django+docker+eiffel+elixir+elm+markup-templating+erlang+fsharp+flow+fortran+gedcom+gherkin+git+glsl+go+graphql+groovy+haml+handlebars+haskell+haxe+http+hpkp+hsts+ichigojam+icon+inform7+ini+io+j+java+jolie+json+julia+keyman+kotlin+latex+less+liquid+lisp+livescript+lolcode+lua+makefile+markdown+erb+matlab+mel+mizar+monkey+n4js+nasm+nginx+nim+nix+nsis+objectivec+ocaml+opencl+oz+parigp+parser+pascal+perl+php+php-extras+sql+powershell+processing+prolog+properties+protobuf+pug+puppet+pure+python+q+qore+r+jsx+typescript+renpy+reason+rest+rip+roboconf+crystal+rust+sas+sass+scss+scala+scheme+smalltalk+smarty+plsql+soy+stylus+swift+tcl+textile+twig+tsx+vbnet+velocity+verilog+vhdl+vim+visual-basic+wasm+wiki+xeora+xojo+yaml&plugins=line-numbers+toolbar+show-language */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

/*
* Dracula Theme for Prism.JS
*
* @author Gustavo Costa
* e-mail: gusbemacbe@gmail.com
*
* @contributor Jon Leopard
* e-mail: jonlprd@gmail.com
*
* @license MIT 2016-2018
*/

pre {
  &::-webkit-scrollbar {
    width: 14px;
  }
  &::-webkit-scrollbar-track {
    background-color: #6272a4;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #bd93f9;
    border-radius: 0px;
  }
}

code[class*="language-"] {
  color: #ccc;
  text-shadow: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"] {
  color: #ccc;
  text-shadow: none;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background-color: #5a5f80;
  }
}

code[class*="language-"] {
  &::-moz-selection, ::-moz-selection {
    text-shadow: none;
    background-color: #5a5f80;
  }
}

pre[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background-color: #5a5f80;
  }
}

code[class*="language-"] {
  &::selection, ::selection {
    text-shadow: none;
    background-color: #5a5f80;
  }
}

.limit-300 {
  height: 300px !important;
}

.limit-400 {
  height: 400px !important;
}

.limit-500 {
  height: 500px !important;
}

.limit-600 {
  height: 600px !important;
}

.limit-700 {
  height: 700px !important;
}

.limit-800 {
  height: 800px !important;
}

.token {
  &.comment {
    color: #8690a3 !important;
  }
  &.prolog {
    color: rgba(207, 207, 194, 1);
  }
  &.tag {
    color: rgba(220, 104, 170, 1);
  }
  &.entity {
    color: rgba(139, 233, 253, 1);
  }
  &.atrule {
    color: rgba(98, 239, 117, 1);
  }
  &.url {
    color: rgba(102, 217, 239, 1);
  }
  &.selector {
    color: rgba(207, 207, 194, 1);
  }
  &.string {
    color: rgba(241, 250, 140, 1);
  }
  &.property {
    color: rgba(255, 184, 108, 1);
  }
  &.important {
    color: rgba(255, 121, 198, 1);
    font-weight: bold;
  }
  &.punctuation {
    color: rgba(230, 219, 116, 1);
  }
  &.number {
    color: rgba(189, 147, 249, 1);
  }
  &.function {
    color: rgba(80, 250, 123, 1);
  }
  &.class-name {
    color: rgba(255, 184, 108, 1);
  }
  &.keyword {
    color: rgba(255, 121, 198, 1);
  }
  &.boolean {
    color: rgba(255, 184, 108, 1);
  }
  &.operator {
    color: rgba(139, 233, 253, 1);
  }
  &.char {
    color: rgba(255, 135, 157, 1);
  }
  &.regex, &.variable {
    color: rgba(80, 250, 123, 1);
  }
  &.constant, &.symbol {
    color: rgba(255, 184, 108, 1);
  }
  &.builtin {
    color: rgba(255, 121, 198, 1);
  }
  &.attr-value {
    color: #7ec699;
  }
  &.deleted, &.namespace {
    color: #e2777a;
  }
  &.bold {
    font-weight: bold;
  }
  &.italic {
    font-style: italic;
  }
  // color: #ff79c6;
  color: #e2e2e2
}

.langague-cpp .token.string, .langague-c .token.string {
  color: #8be9fd;
}

.language-css .token {
  &.selector {
    color: rgba(80, 250, 123, 1);
  }
  &.property {
    color: rgba(255, 184, 108, 1);
  }
}

// LANGUAGE SPECIFIC STYLING

.language-java {
  span.token.class-name, .token.class-name {
    color: #8be9fd;
  }
}

.language-markup .token {
  &.attr-value {
    color: rgba(102, 217, 239, 1);
  }
  &.tag {
    color: rgba(80, 250, 123, 1);
  }
}

.language-graql .token {
  color: #e2e2e2;

  &.keyword {
    color: #d39eff;
  }

  &.variable {
    color: #f78e63;
  }

  &.type {
    color: #4fdcc5;
  }

}