{% assign lang = include.language %}

<hr style="margin-top: 40px;" />

<h1>API Reference</h1>

{% include client_api_reference_block.html data = site.data.client_api_grakn %}

{% include client_api_reference_block.html data = site.data.client_api_client %}

{% include client_api_reference_block.html data = site.data.client_api_session %}

{% include client_api_reference_block.html data = site.data.client_api_transaction %}

{% if lang == "java" %}
  {% include client_api_reference_block.html data = site.data.client_api_graql %}
  {% include client_api_reference_block.html data = site.data.client_api_query %}
{% endif %}

{% if lang == "nodejs" or lang == "cpython" %}
  {% include client_api_reference_block.html data = site.data.client_api_iterator %}
{% endif %}

{% include client_api_reference_answers.html data = site.data.client_api_answer %}
