
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta name="keywords" content="{{page.tags}}{% if page.tags %}, {% endif %} {{page.keywords}}, GRAKN.AI, Grakn Labs, grakn, graql, grakn.ai, knowledge graph, knowledge engineering, knowledge base, distributed knowledge graph, development platform, developer tool, data platform, programming langauge, query langauge, database, semantic database, distributed semantic database, distributed database, graph database, semantic search, data exploration, recommendation system, knowledge management, real-time analytics, advanced analytics, reasoning engine, inference engine, expert systems, semantic applications, research engines, data management, business intelligence, big data, semantic web, semantic data, knowledge representation, automated reasoning, semantic network, knowledge ontology, semantic graph, ontology engineering, graph based knowledge representation, artificial intelligence,">
<title>{{ page.title }} | {{ site.site_title }}</title>
<meta property="og:description" content="{% if page.summary %}{{ page.summary | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
<meta property="og:title" content="{{ page.title }} | {{ site.site_title }}" >
<meta property="og:image" content="/images/og-image.png" >
<link rel="stylesheet" href="/css/syntax.css">


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
<link rel="stylesheet" href="/css/modern-business.css">
<link rel="stylesheet" href="/css/lavish-bootstrap.css">
<link rel="stylesheet" href="/css/hamburger.min.css">
<link rel="stylesheet" href="/css/customstyles.css">
<!-- <link rel="stylesheet" href="/css/base.css"> -->
<!-- <link rel="stylesheet" href="/css/sidebar.css"> -->
<link rel="stylesheet" href="/css/theme-white.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/2.0.0/anchor.min.js"></script>
<!-- <script src="/js/prism.js"></script>
<script src="/js/prism-graql.js"></script> -->
<script src="/js/external/turbolinks.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/external/highlight.pack.js"></script>
<script src="/js/external/highlight-java.js"></script>
<script src="/js/external/highlight-python.js"></script>
<script src="/js/external/highlight-javascript.js"></script>
<script src="/js/external/highlight-xml.js"></script>
<script src="/js/external/highlight-graql.js"></script>

<script src="/js/external/marked.js"></script>

<script src="/js/layout/sidebar.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/layout/navbar.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/md_hacks/tabs.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/md_hacks/alerts.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/md_hacks/util.js" type="text/javascript" charset="utf-8"></script>

<script src="/js/main.js"></script>
<script src="/js/customscripts.js"></script>

<link rel="shortcut icon" href="/favicon.ico">

<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '2009892122581066'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        </script>
<noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=2009892122581066&ev=PageView&noscript=1" alt="facebook pixel"
    /></noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4332244.js"></script>


<!-- End of HubSpot Embed Code -->

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "feed.xml" | prepend: site.url }}">