{% assign general_pages = "" | split: "," %}
{% assign general_pages = general_pages | push: site.00-general %}

{% assign database_pages = "" | split: "," %}
{% assign database_pages = database_pages | push: site.01-overview %}
{% assign database_pages = database_pages | push: site.02-running-grakn %}
{% assign database_pages = database_pages | push: site.03-client-api %}
{% assign database_pages = database_pages | push: site.04-cloud-deployment %}
{% assign database_pages = database_pages | push: site.05-management %}
{% assign database_pages = database_pages | push: site.06-workbase %}

{% assign graql_pages = "" | split: "," %}
{% assign graql_pages = graql_pages | push: site.07-schema %}
{% assign graql_pages = graql_pages | push: site.08-query %}
{% assign graql_pages = graql_pages | push: site.09-reasoning %}
{% assign graql_pages = graql_pages | push: site.10-analytics %}

{% assign developer_guidelines_pages = "" | split: "," %}
{% assign developer_guidelines_pages = developer_guidelines_pages | push: site.11-developer-guidelines-a %}
{% assign developer_guidelines_pages = developer_guidelines_pages | push: site.12-developer-guidelines-b %}

{% assign categories = "" | split: "," %}
{% assign categories = categories | push: general_pages %}
{% assign categories = categories | push: database_pages %}
{% assign categories = categories | push: graql_pages %}
{% assign categories = categories | push: developer_guidelines_pages %}

<ul id="mysidebar" class="nav">
    {% for category in categories %}
        {% assign specified_category_title = category[0][0].category %}

        {% if specified_category_title != "" %}
            <li class="sidebarTitle">{{ specified_category_title }}</li>
        {% endif %}

        {% assign specified_section_title = category[0][0].section %}

        {% if specified_section_title == "" %}
            {% for section in category %}
                {% for doc_page in section %}
                    {% include sidebar_page_item.html doc_page = doc_page %}
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for section in category %}
                <li>
                    <a href = "#">{{ section[0].title }}</a>
                    <ul>
                        {% for doc_page in section %}
                            {% include sidebar_page_item.html doc_page = doc_page %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>

<script>$("li.active").parents('li').toggleClass("active");</script>
