// positioning
.o-mainBody {
    margin-top: $topbar_height + $searchbar_height;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #o-content {
        height: 100% !important;
        margin-left: $sidebar_width;
        padding: 50px;
        width: calc(100% - #{$sidebar_width});
    }
    #o-sidebar {
        height: 100%;
        overflow-y: scroll;
        position: fixed;
        width: $sidebar_width;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
    }
}