$sidebar_width: 200px;
$topbar_width: 70px;

// positioning
.container {
    height: 100%;

    #o-content {
        height: 100% !important;
        margin-left: $sidebar_width;
        padding: 50px;
        width: calc(100% - #{$sidebar_width});
    }
    #o-sidebar {
        height: 100%;
        overflow-y: scroll;
        position: fixed;
        width: $sidebar_width;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
    }
}

body {
    background-color: $bg_color !important;
    color: $body-text-color !important;
    letter-spacing: 0.2px;
    font-family: 'Titillium';
    font-size: 15px;
    font-weight: 400;
}