.o-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001
}

.o-scrollable-body {
    height: 100%;
    margin-top: $topbar_height + $searchbar_height;
    overflow: scroll;
    position: fixed;
    width: 100%;
}

// positioning
.o-mainBody {
    height: 100%;

    #o-content {
        height: 100% !important;
        margin-left: $sidebar_width;
        padding: 50px;
        width: calc(100% - #{$sidebar_width});
    }
    #o-sidebar {
        height: calc(100% - #{$topbar_height} - #{$searchbar_height});
        overflow-y: scroll;
        position: fixed;
        width: $sidebar_width;

        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
    }
}

.no_toc_section {
    padding-top: 30px;
}