// to account for navbar's hight on anchor clicks
:target {
  padding-top: 90px !important;
  margin-top: -70px !important;
}

// for headings
h1, h2, h3, h4, h5, h6 {
  font-family: 'Titillium';
  letter-spacing: 0.2px;
  font-weight: 600;
  margin-bottom: 10px;
}

h1 {
  color: #6c5fe0;
  font-size: 36px;

  &.post-title-main {
    margin: 0 !important;
  }
}

h2 {
  color: #796DE3 !important;
  font-size: 30px;
  line-height:30px;
  margin-top: 50px !important;
}
h3 {
  color: #938ae8 !important;
  font-size: 24px;
  margin-top: 30px !important;
}

h4 {
  color: #a098eb !important;
  font-size: 18px;
}


// for table of content
ul.toc {
  padding: 5px;
  border-radius: 5px;
  color: gray;

  li {
    list-style-image: url('/images/list-oval.svg') !important;
    margin: 8px 0px 8px 22px !important;
    font-size: 90%;
    list-style: disc;
    line-height: 2.1;
    font-size: 16px;
    font-weight: 600;

    ul {
      padding: 0 0 0 8px;

      li::before {
        content: "–  ";
      }
    }
  }

  ::before {
    font-weight: 500;
    color: #555;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
}

// for tabbed-content
.tabs {
  border-bottom: none;
  display: block;
  list-style: none;
  padding-left: 0;
  margin: 25px 0 0 0;

  &.light {
    li a {
      background-color: #D4D1E8;
      color: #FFFFFF;
    }
  }

  &.dark {
    li a {
      background-color: #292d34;
      color: #878e9d;
    }
  }

  .active > a {
    background-color: #796DE3 !important;
    border: none;
    color: white !important;
  }

  li {
    display: inline-block;
    height: 40px;
    margin: 0 !important;

    a {
      border-radius: 0;
      display: block;
      font-size: 17px;
      height: inherit;
      line-height: 33px;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }

    &:nth-child(1) a {
      border-radius: 5px 0 0 0 !important;
    }
    &:last-child a {
      border-radius: 0 5px 0 0 !important;
    }
  }
}

.tab-content {
  margin-bottom: 25px;

  &.light {
    background-color: #F6F5FB;
    padding: 20px;

    code {
      padding: 10px 15px !important;
    }
  }

  &.dark {
    pre {
      font-size: 16px;

      margin: 0 !important;
      border-radius: 0 0 6px 6px;
      border: none;
      padding: 0px 0px !important;

      &:last-child {
        border-radius: 0 0 6px 6px;
        width: 100%;
      }

      code {
        padding: 20px 30px !important;
      }
    }

  }

  .tab-pane {
    width: 100%;
  }
}

// for code blocks
pre {
  border-radius: 6px;
  margin: 15px 0px;
  padding: 0;
  code {
    padding: 10px 15px !important;
    background: #2F3544 !important;
  }

  &.client-api-method {
    width: fit-content;
    margin: 15px 0;
    code {
      padding: 10px 15px !important;
    }
  }
}

// icons
.fa {
  &-yellow { color: #f1c40f }
  &-blue { color: #2980b9}
  &-green { color: #27ae60 }
  &-red { color: #F75E62 }
}

pre.client-api-method {
  code {
    width: auto;
  }
}

// for client api references
.o_client-api-ref-list {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 40px;

  .m_client-api-ref-block {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
  }

  .m_client-api-ref-block:last-child {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

table.client-api-accepts {
  border: none !important;
  margin-top: 15px;

  th {
    border: none;
    padding: 7px;
  }
  tr:nth-of-type(odd) { background-color: #ebe9f6; }

  p { margin: 0; padding: 0 }
}

.client-api-returns {
  p {
    display: inline-block;
    font-weight: bold;
  }
}