.o-searchbar {
    margin-top: 70px;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;

    .container {
        padding: 0;
    }

    // search box
    input#gsc-i-id1 {
        background: none !important;
        color: #647380;
        font-size: 14px;
        font-family: Titillium;
        font-style: italic;
        height: 34px !important;
        text-indent: 0px !important;
        width: calc(100% - 52px) !important;
    }

    .a-searchIcon, .a-clearSearchIcon  {
        color: #b7b7b7;
        font-size: 15px;
    }

    .a-searchIcon { margin-right: 10px; }
    .a-clearSearchIcon {
        cursor: pointer;
        margin-left: 10px;
    }

    .gsc-results-wrapper-overlay {
        top: 107px !important;
        width: 100% !important;
        height: calc(100% - 107px) !important;
        left: 0 !important;
        box-shadow: none !important;
        background-color: #fff !important;

        * { font-family: Titillium; }
    }

    // search result panel
    .gsc-control-cse {
        .gsc-table-result * { color: #647380 !important; }

        .gsc-resultsbox-visible {
            width: 1170px;
            margin: 0 auto;
        }

        .gs-result .gs-title,
        .gs-result .gs-title * { color: #887aff !important; }

        .gsc-result {
            border-bottom: 1px solid rgba(172, 172, 172, 0.7) !important;
            &:hover { background-color: #F7F7F7; }
        }

        .gsc-cursor-current-page, .gsc-cursor-page { color: #887aff !important; }

        .gsc-cursor-current-page { font-weight: bold !important; }
    }
}

// resetting grc custom css
.gsc-control-cse {
    // search box
    padding: 0 !important;
    table {
        border: none !important;
        tr { background: none !important; }
    }
    .gsib_b, .gsc-branding, .gsc-search-button { display: none; }
    .gsc-search-box, .gsc-input { margin: 0 !important; }
    .gsc-input-box { border: none !important; }
    .gsc-input, .gsib_a { padding: 0 !important; }

    // search results panel
    .gsc-above-wrapper-area-container,
    .gsc-modal-background-image,
    .gsc-resultsHeader,
    .gsc-above-wrapper-area,
    .gsc-url-top,
    .gsc-results-close-btn  { display: none; }
}