// the following code styles the tables that are written in markdown

// tables in doc > client api > python
// tables in doc > client api > nodejs
#api-table-7, #api-table-8, #api-table-9, #api-table-10, #api-table-11, #api-table-12 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 180px }
            &:nth-of-type(2) { width: 190px }
            &:nth-of-type(3) { width: calc(100% - 370px) }
        }
    }
}

// tables in doc > client api > python
#api-table-1 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 335px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 475px) }
        }
    }
}

#api-table-2 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 240px }
            &:nth-of-type(2) { width: 120px }
            &:nth-of-type(3) { width: calc(100% - 360px) }
        }
    }
}

#api-table-3 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 340px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 480px) }
        }
    }
}

#api-table-4 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 180px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 320px) }
        }
    }
}

#api-table-5 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 440px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 580px) }
        }
    }
}

#api-table-6 {
    &+p + table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 350px }
            &:nth-of-type(2) { width: calc(100% - 350px) }
        }
    }
}

// tables in doc > client api > nodejs
#api-table-13 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 380px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 520px) }
        }
    }
}

#api-table-14 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 300px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 440px) }
        }
    }
}

#api-table-15 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 290px }
            &:nth-of-type(2) { width: 160px }
            &:nth-of-type(3) { width: calc(100% - 450px) }
        }
    }
}

#api-table-16 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 220px }
            &:nth-of-type(2) { width: 220px }
            &:nth-of-type(3) { width: calc(100% - 440px) }
        }
    }
}

#api-table-17 {
    &+table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 390px }
            &:nth-of-type(2) { width: 140px }
            &:nth-of-type(3) { width: calc(100% - 530px) }
        }
    }
}

#api-table-18 {
    &+p + table {
        display:table;
        width:100%;

        th {
            &:nth-of-type(1) { width: 350px }
            &:nth-of-type(2) { width: calc(100% - 350px) }
        }
    }
}