code {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  border-radius: 6px;
  margin: 15px 0px;
  padding: 0;

  code {
    background: #2f3544 !important;
    display: none;
    font-size: 12px;
    overflow-x: auto;
    padding: 5px 15px !important;
    white-space: pre;

    span {
      line-height: 25px;
      letter-spacing: 1.2px;
    }

    a {
      color: #d2d2d2;
      text-decoration: none !important;
      border-bottom: 1px dashed #d2d2d2;

      &:hover {
        color: #FFFFFF;
      }
    }
  }
}

p, tr, li {
  code {
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    color: #de255d;
    font-size: 12px;
    display: inline-block;
    line-height: 10px;
    padding: 3px 4px 5px 4px;
    position: relative;
    top: -1px;
  }

  pre code { line-height: 25px; }
}

a {
  code {
    color: inherit;
  }

  &:hover {
    code {
      text-decoration: underline;
    }
  }
}