.page-header {
  margin: 40px 0 20px;
  position: relative;

  h1.page-title {
    color: #647380 !important;
    font-size: 30px;
    font-weight: 600;
  }

  .summary {
    color: #8c8d92;
    font-size: 16px;
    margin: 20px 0px 20px 0px;

    &:before {
      color: #f75e62;
      content: "Summary: ";
      font-weight: 600;
      font-size: 18px;
    }
  }
}


// for table of content
ul.toc {
  padding: 0;

  li {
    line-height: 30px;
    font-size: 16px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // ::before {
  //   font-weight: 500;
  //   color: #555;
  //   text-align: center;
  //   margin-left: auto;
  //   margin-right: auto;
  //   width: 70px;
  //   padding-top: 20px 0 20px 10px;
  // }

  & + .alert {
    margin-top: 35px;
  }
}
