a {
  color: $link-color;
  margin: 0;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-color;
  }

  &:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

*:hover > .anchorjs-link {
  transition: color 0.25s linear;
  text-decoration: none;
}

.anchorjs-link {
  &:after {
    content: "\f0c1";
    font-family: "FontAwesome Solid";
    font-size: 80%;
  }

  &:focus {
    text-decoration: none;
  }
}

.animated__link {
  position: relative;
  width: fit-content;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #647380;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover {
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &--purple {
    &:before {
      background-color: $link-color !important;
    }
  }
}
