// markdown slideshow
.slideshow { display: none; }

// generated slideshow
.o_slideshow {
    .o_slideshow-slide {
      display: none;

      &.active { display: block; }

      .m_slide-header {
        color: white;
        padding: 10px 3px;
        height: 50px;
        width: 100%;
        text-align: center;


        p {
          color: rgb(108, 95, 224);
          font-size: 18px;
          font-weight: bold;
          line-height: 30px;
          margin: 0;
          padding: 0;
        }
      }

      .m_slide-body {
        height: 100%;
        p, img {
          margin: 0;
          border: 0.5px solid #9a9a9a;
          border-bottom: none;
          border-radius: 4px 4px 0 0;
        }
      }

      .o_slide-nav {
        height: 50px;
        width: 100%;

        .m_slide-nav-prev, .m_slide-nav-next {
          background: #292d34;
          border: 1px solid #595959;
          border-top: none;
          float: left;
          height: 50px;
          width: 50%;

          &:not(.disabled):hover {
            cursor: pointer;
          }

          i {
            color: #fff;
            font-size: 25px;
            line-height: 50px;
            text-align: center;
            width: 100%;
          }

          &.disabled {
            background-color: #5a5a5a;
            i { color: #9a9a9a; }
          }
        }

        .m_slide-nav-prev {
          border-radius: 0 0 0 4px;
          border-right: none;
        }

        .m_slide-nav-next {
          border-radius: 0 0 4px 0;
          border-left: 1px solid #5a5a5a;
        }
      }

      .m_slide-footer {
        color: #8c8d92;;
        font-size: 14px;
        margin-top: 1px;
        padding: 10px 0;
        width: 100%;
        text-align: center;

        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }