table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  padding: 10px;
  line-height: 1.59;
  vertical-align: top;
  color: #4a4c52;
}

table {
  border: 1px solid #2f3544 !important;
  border-collapse: separate;
  border-radius: 6px;
  border-spacing: 0;
  margin-top: 10px;
  overflow: hidden;
  width: 100%;

  thead {
    th {
      background-color: #2f3544;
      font-size: 14px;
      color: #ffff !important;
      line-height: 1.59;
      padding: 14px;
      font-weight: 400;
    }
  }

  tbody {
    tr {
      line-height: 1.59;

      td {
        color: $table-text-color;

        &.fit-content {
          width: 1%;
          white-space: nowrap;
        }
      }

      &:nth-of-type(odd) {
        background-color: rgba(235, 233, 246, 0.3);
      }
      &:nth-of-type(even) {
        background-color: rgba(235, 233, 246, 0.6);
      }

      &:hover {
        background-color: rgba(235, 233, 246, 0.9);
      }
    }
  }
}

#console-options, #console-options + p {
  & + table {
    display: table;
    width: 100%;

    th {
      &:nth-of-type(1) {
        width: 180px;
      }
      &:nth-of-type(2) {
        width: 54px;
      }
      &:nth-of-type(3) {
        width: 125px;
      }
      &:nth-of-type(4) {
        width: 100px;
      }
      &:nth-of-type(5) {
        width: calc(100% - 459px);
      }
    }
  }
}

#console-commands, #console-commands + p  {
  & + table {
    display: table;
    width: 100%;

    th {
      &:nth-of-type(1) {
        width: 100px;
      }
      &:nth-of-type(5) {
        width: calc(100% - 100px);
      }
    }
  }
}