{% assign chapters = site.data.views.sidebar.chapters  %}

{% for chapter in chapters %}
    {% if chapter.title %}
        <li class="a-section_categoryTitle">{{ chapter.title }}</li>
    {% endif %}

    {% if chapter.pages %}
        {% for page in chapter.pages %}
            {% assign hyperlinkClass = "animated__link animated__link--purple" %}
            {% assign url = page.url %}
            {% include layout/sidebar_page_item.html page = page hyperlinkClass = hyperlinkClass url = url %}
        {% endfor %}
    {% elsif chapter.sections %}
        {% for section in chapter.sections %}
            <li class="o-section">
                {% if section.title %}
                    <a class="a-section_title animated__link animated__link--purple" href = "">{{ section.title }}</a>
                {% endif %}
                {% if section.title %} <ul class="m-section_list"> {% endif %}
                    {% for page in section.pages %}
                        {% assign hyperlinkClass = "" %}
                        {% assign url = section.baseUrl | append: page.url %}
                        {% include layout/sidebar_page_item.html page = page hyperlinkClass = hyperlinkClass url = url %}
                    {% endfor %}
                {% if section.title %}  </ul> {% endif %}
            </li>
        {% endfor %}
    {% endif %}
{% endfor %}