<div class="banner-cosmos-container">
    <div class="banner-bg"></div>
    <div class="banner-content"><img class="banner-logo content-item"
            src="https://grakn.ai/assets/img/banners/cosmos/banner-cosmos-logo.svg">
        <p class="banner-text banner-text--color-white content-item">
            <!-- react-text: 8 -->The conference of people changing the universe with Grakn <span style="color: #7C66D3">|</span>
            <!-- /react-text --><span class="banner-text banner-text--color-brand">6-7th of February 2020</span></p>
        <div class="tablet-text">
            <p class="banner-text banner-text--color-white">The conference of people changing the universe with Grakn
            </p>
            <p class="banner-text banner-text--color-brand">6-7th of February 2020</p>
        </div>
        <div class="banner-button content-item">Watch Sessions</div>
    </div>
    <div class="banner-btn-close"></div>
</div>
<div class="topbar">
    <div class="container">
        <a class="topbar__logo" href="https://grakn.ai/"><img src="https://grakn.ai/assets/svg/logo.svg"
                alt="Grakn AI"></a>
        <div class="topbar__links topbar__links--desktop">
            <a class="topbar__link topbar__link__inline topbar__link__button" href="https://grakn.ai/download"
                id="download_nav_bar_mobile">Download</a>
            <div class="topbar__link topbar__link__dropdown">
                <!-- react-text: 233 -->Products
                <!-- /react-text -->
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="topbar__link__dropdown__content">
                    <a class="topbar__link topbar__link__dropdown__content__item animated__link"
                        href="https://grakn.ai/grakn-core">
                        Grakn Core
                    </a>
                    <a class="topbar__link topbar__link__dropdown__content__item animated__link"
                        href="https://grakn.ai/grakn-kgms">
                        Grakn KGMS & Workbase
                    </a>
                </div>
            </div>
            <div class="topbar__link topbar__link__dropdown">
                <!-- react-text: 239 -->Solutions
                <!-- /react-text -->
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="topbar__link__dropdown__content">
                    <a class="topbar__link topbar__link__dropdown__content__item animated__link"
                        href="https://grakn.ai/deployment">
                        Deployment
                    </a>
                    <a class="topbar__link topbar__link__dropdown__content__item animated__link"
                        href="https://grakn.ai/services">
                        Services
                    </a>
                    <a class="topbar__link topbar__link__dropdown__content__item animated__link"
                        href="https://grakn.ai/support">
                        Support
                    </a>
                </div>
            </div>
            <div class="topbar__link topbar__link__dropdown" data-reactid="21">
                <!-- react-text: 22 -->Use Cases
                <!-- /react-text --><i class="fa fa-caret-down" aria-hidden="true" data-reactid="23"></i>
                <div class="topbar__link__dropdown__content" data-reactid="24">
                    <a href="https://grakn.ai/machine-learning"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">
                        Machine Learning</a>
                    <a href="https://grakn.ai/text-mining"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">Text
                        Mining</a>
                    <a href="https://grakn.ai/lifesciences"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">Life
                        Sciences</a>
                    <a href="https://grakn.ai/drug-discovery"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">Drug
                        Discovery</a>
                    <a href="https://grakn.ai/precision-medicine"
                        class="topbar__link topbar__link__dropdown__content__item animated__link"
                        target="_self">Precision Medicine</a>
                </div>
            </div>
            <div class="topbar__link topbar__link__dropdown">
                <!-- react-text: 255 -->Developer
                <!-- /react-text -->
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                <div class="topbar__link__dropdown__content">
                    <a href="https://docs.grakn.ai"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">
                        Documentation
                    </a>
                    <a href="https://discuss.grakn.ai/"
                        class="topbar__link topbar__link__dropdown__content__item animated__link" target="_self">
                        Discussion
                    </a>
                </div>
            </div>
            <a class="topbar__link topbar__link__inline" href="https://grakn.ai/community">Community</a>
            <a href="https://blog.grakn.ai/" class="topbar__link topbar__link__inline" target="_blank">Blog</a>
            <a href="https://github.com/graknlabs" class="topbar__link topbar__link__inline" target="_blank"><i
                    class="fab fa-2x fa-github topbar__link__icon" aria-hidden="true"></i></a>
        </div>
        <div class="topbar__links topbar__links--mobile">
            <button id="hamburger-btn" class="topbar__hamburger__button hamburger hamburger--collapse"
                aria-hidden="true">
                <span class="hamburger-box"><span class="hamburger-inner"></span></span>
            </button>
            <div id="hamburger-menu" class="topbar__hamburger">
                <a class="topbar__link topbar__link__inline topbar__link__button" href="https://grakn.ai/download"
                    id="download_nav_bar">Download</a>
                <div class="topbar__link topbar__link__dropdown">
                    <!-- react-text: 233 -->Products
                    <!-- /react-text -->
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <div class="topbar__link__dropdown__mobile">
                        <a class="topbar__link topbar__link__dropdown__content__item"
                            href="https://grakn.ai/grakn-core">
                            Grakn Core
                        </a>
                        <a class="topbar__link topbar__link__dropdown__content__item"
                            href="https://grakn.ai/grakn-kGms">
                            Grakn KGMS & Workbase
                        </a>
                    </div>
                </div>
                <div class="topbar__link topbar__link__dropdown">
                    <!-- react-text: 239 -->Solutions
                    <!-- /react-text -->
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <div class="topbar__link__dropdown__mobile">
                        <a class="topbar__link topbar__link__dropdown__content__item"
                            href="https://grakn.ai/deployment">
                            Deployment
                        </a>
                        <a class="topbar__link topbar__link__dropdown__content__item" href="https://grakn.ai/services">
                            Services
                        </a>
                        <a class="topbar__link topbar__link__dropdown__content__item" href="https://grakn.ai/support">
                            Support
                        </a>
                    </div>
                </div>
                <div class="topbar__link topbar__link__dropdown">
                    <!-- react-text: 255 -->Developer
                    <!-- /react-text -->
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                    <div class="topbar__link__dropdown__mobile">
                        <a href="https://docs.grakn.ai/academy/"
                            class="topbar__link topbar__link__dropdown__content__item" target="_self">
                            Academy
                        </a>
                        <a href="https://docs.grakn.ai" class="topbar__link topbar__link__dropdown__content__item"
                            target="_self">
                            Documentation
                        </a>
                        <a href="https://discuss.grakn.ai/" class="topbar__link topbar__link__dropdown__content__item"
                            target="_self">
                            Discussion
                        </a>
                    </div>
                </div>
                <a class="topbar__link topbar__link__inline" href="https://grakn.ai/community">Community</a>
                <a href="https://blog.grakn.ai/" class="topbar__link topbar__link__inline" target="_blank">Blog</a>
                <a href="https://github.com/graknlabs" class="topbar__link topbar__link__inline" target="_blank"><i
                        class="fab fa-2x fa-github topbar__link__icon" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>