<div class="footer">
	<div class="container footer__container footer__social">
		<div class="footer__social__buttons">
			<a href="https://twitter.com/VaticleHQ" target="_blank">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://www.facebook.com/VaticleHQ/" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://www.linkedin.com/company/vaticle/" target="_blank">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="https://github.com/vaticle" target="_blank">
				<i class="fab fa-github"></i>
			</a>
		</div>
		<div class="footer__social__signup"><a href="https://vaticle.com/?dialog=newsletter">
            <button id="footer-subscribe-btn" class="button-footer--red">Subscribe to our Newsletter</button></a></div>
	</div>
	<div class="container footer__container footer__links">
		<div class="footer__block">
			<div class="footer__block__header">Get in touch</div>
			<div class="footer__block__links">
				<a href="https://github.com/vaticle" target="_blank" class="footer__block__links--github">
					<img src="../images/layout/github.svg" alt="github"><strong id="download_footer">TypeDB</strong>
					<!-- react-text: 237 -->
					on Github
					<!-- /react-text -->
				</a>
				<a class="footer__block__links--discord" href="https://vaticle.com/discord">
					<img src="../images/layout/discord-mark.svg" alt="discord"><strong>Vaticle</strong>
					<!-- react-text: 241 -->
					on Discord
					<!-- /react-text -->
				</a>
				<a href="https://vaticle.com/?dialog=contact">
					<i class="fas fa-phone" aria-hidden="true"></i><!-- react-text: 244 -->Get in touch
					<!-- /react-text -->
				</a>
				<div class="footer__block__links--address">
					<span>
						<i class="fas fa-map-marker-alt" aria-hidden="true"></i><!-- react-text: 248 -->
                        47-50 Margaret St, 3rd floor
						<!-- /react-text -->
					</span>
					<span> London W1W 8SE, UK </span>
				</div>
			</div>
		</div>
		<div class="footer__block">
			<div class="footer__block__header">TypeDB</div>
			<div class="footer__block__links"><a href="https://vaticle.com/typedb">TypeDB</a><a
					href="https://vaticle.com/typedb-cluster">TypeDB Cluster</a><a
					href="https://docs.vaticle.com/docs/general/quickstart">Quickstart</a><a
					href="https://support.grakn.ai/">Support</a></div>
		</div>
		<div class="footer__block">
			<div class="footer__block__header">Developer</div>
			<div class="footer__block__links"><a href="https://docs.vaticle.com">Documentation</a><a
					href="https://forum.vaticle.com">Forum</a><a href="https://github.com/vaticle">GitHub</a><a
					href="https://stackoverflow.com/questions/tagged/vaticle-typedb%20vaticle-typeql?sort=Newest&edited=true">Stack Overflow</a></div>
		</div>
		<div class="footer__block">
			<div class="footer__block__header">Company</div>
			<div class="footer__block__links"><a href="https://medium.com/vaticle" target="_blank">Blog</a></div>
            <div class="footer__block__links"><a href="https://vaticle.com/careers" target="_blank">Careers</a></div>
            <div class="footer__block__links"><a href="https://vaticle.com/privacy-policy" target="_blank">Privacy Policy</a></div>
		</div>
	</div>
</div>