body.banner-showing {
  .topbar {
    margin-top: $banner_height;
  }

  .o-scrollable-body {
    margin-top: $topbar_height + $searchbar_height + $banner_height;
  }

  @media (max-width: 1012px) {
    $banner_height: 160px;

    .topbar,
    .topbar__hamburger {
      margin-top: $banner_height;
    }

    .topbar__hamburger {
      margin-top: $banner_height + $topbar_height;
    }

    .o-scrollable-body {
      margin-top: $topbar_height + $searchbar_height + $banner_height;
    }
  }
}

.banner-cosmos-container {
  height: 65px;
  width: 100%;

  cursor: pointer;

  position: fixed;
  z-index: 999;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #0a0926;
  }

  &:before {
    height: 100%;
    width: 100%;

    background-image: linear-gradient(180deg, #0f0a32 0%, #2f1d77 100%);
    background-position: center center;
    background-size: 100%;
    content: "";

    position: absolute;
    z-index: -1;
  }
}
