<!DOCTYPE html>

<head>
    {% include head.html %}
</head>

<body>
    <div class="o-header">
        {% include layout/topbar.html %}
        {% include layout/searchbar.html %}
    </div>
    <div class="o-scrollable-body">
        <div class="o-mainBody container">
            <div class="row">
                <ul id="o-sidebar" data-turbolinks-permanent>
                    {% include layout/sidebar.html %}
                </ul>
                <div id="o-content">
                    {{content}}
                    {% include layout/footer.html %}
                </div>
            </div>
        </div>
    </div>

    {% include layout/banner.html %}
</body>

</html>